[2021-02-03 09:54] Ghostkeeper commented on #9123
Yeah. I'd prefer to keep this thread open for the time being at least.

I wonder what things change when the GPU is set to High Performance. Perhaps the lower performance is always setting the normal vectors to be interpolated regardless of what the GLSL code requires?

The link results in a Server Not Found error page for me.

[2021-02-03 11:00] Ghostkeeper commented on #9175
Creating the interface elements is all done on the same thread by Qt, as far as I know. Qt has a "main thread" which is separate from our own main thread in Python and generally all interface updates happen in that one thread. As far as I know there is no way to change that in Qt.

[2021-02-03 12:56] evtrados commented on #9217
Yes, it seems that all is fine on our build server as well after these changes, so we're going to commit them in the coming days.
Did the above steps help you out with regards to the warnings or did you encounter anything new?

[2021-02-03 13:53] xavierator commented on #5825
Hi, I think I have a similar problem, but difficult to understand for me.

I just purchase the printer 1 week ago, I finished right 2 prints and after that all prints stop randomly.

I'm using CURA 4.8.0.

What dou you think ?

Ned I to change the maximum Z speed in printer settings, upgrade the printer firmware, change something in CURA, ... ?

Many thanks, Xavi

[2021-02-03 14:59] zipspence commented on #5825
Go into cura and go into your speed options. You will need to expand the
extra options for this menu in your setting and find your Z axis speed
setting and set it to a reasonable value. 150 or so.

On Wed, Feb 3, 2021 at 07:53 xavierator <notifications@github.com> wrote:

[2021-02-03 15:22] xavierator commented on #5825
I just expanded all speed options:

![imagen](https://user-images.githubusercontent.com/72919602/106768237-03a2bd80-663c-11eb-8f5c-8be47207570b.png)

But I can't find Z axis speed:

![imagen](https://user-images.githubusercontent.com/72919602/106768273-0b626200-663c-11eb-9ce2-152a9b9356d8.png)

Thanks

[2021-02-03 17:20] noahangel11 commented on #9230
So there is no solution yet?

[2021-02-03 19:26] jellespijker commented on #9230
Not yet but very high on our priority list.

[2021-02-03 20:51] aquajazz opened #9234 "Filament Runout Sensor do not work via USB - Ender 5 Plus - Cura 4.8 Big Sur"
Hi folks,

The Filament Runout Sensor is working with SD-Card print from Cura, but not with USB-Print via Cura.

**Application version**
4.8.0
Platform MacOS 11.1 Big Sur
MacBook Pro 2019
2,6 GHz 6-Core Intel i7
16GB of memory

**Printer**
Creality Ender 5 Plus
Ver. 1.70.1 BL
Silent Board
Creality Metal Extruder
PTFE

Reproduction steps
print stl-file via SD-Card
cut filament just befor sensor
pri

[2021-02-04 03:12] bellzw commented on #8905
[Cura Law.xlsx](https://github.com/Ultimaker/Cura/files/5922832/Cura.Law.xlsx)

I've finally found a big enough block of time to examine the ramifications of the conversion law @Ghostkeeper supplied on 22 Dec.  You'll find 2 charts in which the transmission is calculated for various values of transmission1mm (I call it T1 for short) and height_from_base (H for short).

In T(P) for (T1)^H I calcula

[2021-02-04 05:57] jhyslop commented on #8983
@Ghostkeeper it doesn't necessarily happen with infill. I have the same problem. In my case, the infill is set to 100% - can't get much higher density than that :)

I have found two unsupported areas (there may be others, I haven't searched). One is part of the support tree itself, and the other is part of the model itself. The attached .zip file contains the .stl source file, the cura settings, t

[2021-02-04 08:58] #9152 closed

[2021-02-04 10:43] Ghostkeeper commented on #5495
That basically means that your graphics drivers don't implement OpenGL 4 well.

[2021-02-04 11:01] fvrmr commented on #9226
Hi @3Deee thank  you for your bug report. It is a known issue.
You can read about it more [on our website.](https://support.ultimaker.com/hc/en-us/articles/360018141480-Ultimaker-Cura-won-t-run-on-my-new-Macbook)
I will close this issue because it is a duplicate of #8745

We hope that we have a solution soon.

[2021-02-04 11:01] #9226 closed

[2021-02-04 11:51] #9186 closed

[2021-02-04 12:02] #9158 closed

[2021-02-04 12:06] Ghostkeeper commented on #9187
Cura does not implement Linear Advance, nor user-defined settings to depend on other settings (the latter can be done when editing the profile .cfg files though). The Search and Replace script can be made to insert commands to change Linear Advance settings at a certain layer, though that is a bit technical.

I suggest you request this as a feature for [the plug-in you're probably using to get a L

[2021-02-04 12:06] #9187 closed

[2021-02-04 13:54] Ghostkeeper commented on #9190
@jellespijker Did this issue still reproduce on the current master? I don't recall seeing it in our issue board, but maybe I've forgotten it.

[2021-02-04 14:00] Ghostkeeper commented on #6627
It's indeed a complex topic because it's highly dependent on how printers around the world operate, and there are so many of them.

@SMack40 it was sort of luck. The print order is determined in such a way that you can place objects as close as possible, such that the print head could approach from either side, and the print order is then calculated so that the print head will approach from the co

[2021-02-04 14:02] fvrmr commented on #9224
Hi @Julius971 could you share a project file? Because I am not sure if I understand what is happening.

[2021-02-04 14:13] fvrmr commented on #9227
Thank you @JerichoGuitars for your feature request.
We already got this request a few times. So I will close this issue because it is a duplicate of #8909

[2021-02-04 14:13] #9227 closed

[2021-02-04 14:14] fvrmr commented on #6852
I will close this issue, because it is a duplicate of #8909

[2021-02-04 14:14] #6852 closed

[2021-02-04 14:18] evtrados commented on #9217
Sorry, for some reason I could only see your first response when checking yesterday.
Thanks for the PR! We reviewed it and we'll merge it to see whether everything builds properly on our build server.

I had in mind that you were using the whole cura-build repository when trying to achieve this.

[2021-02-04 14:25] fvrmr commented on #9234
Hi @aquajazz thank you for your report.
This is not Cura related, but it has to do with your firmware. And since you are using a Creality, I have to defer this issue because we don't maintain them.
Feel free to make a pull request to solve this problem.
That's why I will also close this issue.

[2021-02-04 14:25] #9234 closed

[2021-02-04 14:43] #9217 closed

[2021-02-04 14:45] Ghostkeeper commented on #7975
I had actually done a similar experiment, but it produces a lot of overextrusion. This should be obvious, because the ironing adds 10% extra flow, so the object would become 110% dense and this material then extends towards the sides as the model is being printed.

Without ironing I've achieved similar results to you, by printing hotter (using PLA so it's a bit yellow-ish):
![IMG_20190228_213122](

[2021-02-04 14:51] o-nix commented on #6852
@fvrmr the issue you referenced is about **infill**, not **ironing**, are you sure about closing this one?

[2021-02-04 14:51] fvrmr commented on #9228
Hi @ChipCE thank you for your feature request.
I will have to defer this issue, because you can achieve this by material profiles in Cura. Also we don't maintain these firmwares.
But a pull request is always welcome, so other users that uses those firmwares can use it too.

That why I will close this issue, hope you understand!

[2021-02-04 14:54] GoremanX commented on #6852
It's the same issue with an incorrect word used.

I'm more confused about closing this issue rather than the newer duplicate. Honestly it looks like "hey someone else's software does this, we should copy it". Whereas this issue predates the feature in the competing software and does a much better job of describing the problem.

[2021-02-04 14:56] uglygargoyle opened #9235 "UI to large to view on load"
Application version - 4.8.0
Platform - Windows 10
Printer - Creality Ender 3
Reproduction steps**
I opened Cura on my PC yesterday (v4.6) and got the below screen instead of the normal UI it almost looks like it has zoomed right in. I installed v4.8 and it worked fine for the day but I have started it again today and got the same screen. I have checked my graphics card drivers as all good. Im usin

[2021-02-04 15:12] Ghostkeeper commented on #9193
We also discussed that we really already implemented something like this with `material_shrinkage_percentage`. The setting wasn't entirely ready for release due to the user experience of what happens with the collision areas in the GUI, and because experimentally the scale factor didn't seem to fix the shrinkage issue well. So it was hidden from the GUI for now. But we do plan to fix the material

[2021-02-04 15:17] Ghostkeeper commented on #9130
If you install 4.8, it should take over any settings from version 4.7 unless you clicked "yes" on the question to erase your old settings. Still a bit of a user-experience problem, that question in the installer. The default for the preference is to ask the user.

If you install 4.7 after 4.8, it will not take over any settings from 4.8. It only looks for older releases. Configuration is not backp

[2021-02-04 15:18] #9130 closed

[2021-02-04 15:20] Ghostkeeper commented on #9197
The maximum value is by default the limit imposed by your firmware. Indeed it can't be increased beyond 50mm/s if the movement speed limit of the firmware is 50mm/s.

[2021-02-04 15:20] #9197 closed

[2021-02-04 15:21] Ghostkeeper commented on #9197
This is not deferred because it's not an issue of priority. It's just an issue of that we can't change profiles for 3rd party printers since we don't have those printers.

[2021-02-04 15:29] Ghostkeeper commented on #9198
Feedrate has little to do with the feeder. It's a bit of a misnomer in that regard. The term "feedrate" comes from CNC milling. See also https://en.wikipedia.org/wiki/Speeds_and_feeds . I think it has something to do with how fast the material is "fed" to the cutter.

In CNC, "feedrate" refers to the movement speed of any axis (X, Y, Z or E). It is determined by the `F` parameter in the g-code com

[2021-02-04 15:34] Ghostkeeper commented on #9016
If it's still generating wrong g-code when that setting is enabled, chances are that it also generated wrong g-code in Cura 4.6 and earlier. But that was really the whole problem with the setting. It wasn't doing what people asked of it, unless the correct changes were also made to extruder start and end g-codes. So we've removed it from the interface and the creators of the definition files are r

[2021-02-04 16:06] fvrmr commented on #9225
Thank you @swdenman, this is expected behaviour. Because it applies only on the horizontal axis. And not on the z axis. You can see that in the shadow of your model, the top is not affected by the horizontal expansion. So that's why you get that on your model.
![image (3)](https://user-images.githubusercontent.com/77000924/106917944-0e775400-6709-11eb-9e45-fe8669668606.png)

Hopes that this makes

[2021-02-04 16:06] #9225 closed

[2021-02-04 16:10] #9164 closed

[2021-02-04 16:17] fvrmr commented on #9235
Hi @uglygargoyle
In your log file stands this: `2021-02-04 13:41:10,633 - ERROR - [MainThread] UM.View.GL.OpenGL.__init__ [58]: Startup failed due to OpenGL context creation failing` so it means that your computer can't access OpenGL

[2021-02-04 16:48] juspch opened #9237 "Feature Request: Overhanging Wall Speed Affects More than Just Overhanging Area"
Already posted this on the forums, reposting here as it felt like a more appropriate venue.

Hello everyone, i read about my issue on a previous post but OP had considered his issue resolved with the addition of the experimental overhang wall speed setting. I am here to sort of revive the issue again as I believe the current implementation of the setting is lacking.

**Is your feature request rela

[2021-02-04 17:25] ksihota commented on #9057
I have noticed that Cura (arachne_alpha) closes when you select the popup dialog to eject the SD card and it also closes when you select the popup dialog to reload a changed file (an STL altered outside of Cura while the model is active in Cura.)
Cura will not close if you right click on the model and reload it using the context menu, only if you reload using the popup. Maybe the issues are relate

[2021-02-04 18:47] JerichoGuitars commented on #9227
I don't see that it has been added to Cura, I don't understand how it could
not be prioritized, its costing us so much money.  Can we pay for it to be
prioritized?

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Thu, Feb 4, 2021 at 8:14 AM fvrmr <notifications@github.com> wrote:

[2021-02-04 21:49] onitake commented on #9217
Ah sorry, now I get it. You were referring to https://github.com/Ultimaker/cura-build

I'm not familiar with the build repo, we've used the standard Debian build infrastructure since we started packaging Cura 2.5.
There's all kinds of automatic checks these days, and I recently noticed that there were Appstream warnings. That's why I reported them here.

Unfortunately, I don't know exactly how htt

[2021-02-04 21:50] onitake commented on #9217
Thanks for merging!

[2021-02-04 22:13] Bighoneypot opened #9238 "Problem with Ultimaker Cura, print start immediately and don't wait pre-heat Extruder and build plate"
I try to use a Ultimaker Cura with my Ender 3 Pro with marlin and Makerbase Robin nano V1.x with WiFi.

All work fine, but I have a problem time to preheat

The problem is when I send my gcode over wifi to my printer and print start immediately and don't wait pre-heat Extruder and build plate.

This is my Start Gcode

; Ender 3 Custom Start G-code new
G92 E0 ; Reset Extruder
G28 ; Home all axes
G1

[2021-02-05 00:55] nubnubbud commented on #7975
I used 1%-2% flow. an absolutely tiny amount that might still be too much, I'll explain why below. as well, I turn off part fans completely and

if you look closely on mine, it gets foggy near the top. This has happened with all my PETG prints, and is directly related to the side the printer begins printing on. I think with many filaments, it's less about laying it down clear first, but returning

[2021-02-05 01:32] diegoboco opened #9239 "Cant select the model for modify or move or rotate IOS Big Sur 11.2"
**Application version**
4.8.0

**Platform**
IOS BIG SUR 11.2

**Printer**
ENDER 3 PRO

**Reproduction steps**
1. All normal steps

**Screenshot(s)**
<img width="770" alt="Captura de Pantalla 2021-02-04 a la(s) 20 30 22" src="https://user-images.githubusercontent.com/76824716/106977193-daf7f200-6727-11eb-9728-6b2baae23522.png">

**Actual results**
When I upload a file I can't select it so I can mod

[2021-02-05 02:46] juspch commented on #9238
If I were you, I'd open up the gcode itself and see what M104 commands specifically are being sent to the printer.

[2021-02-05 03:08] JerichoGuitars opened #9240 "More Ironing Presets besides "zig-zag and concentric""
**Is your feature request related to a problem? Please describe.**
zig-zag creates inconsistent surface over all parts produced for sale. partly from the way that it irons in different places throughout the whole top surface, not like an iron at all, actually.  Concentric leaves visible marks in the center of the pieces, if the pieces have holes in them it becomes even worse.

More options for Iro

[2021-02-05 07:48] fvrmr commented on #9239
Hi @diegoboco thank you for your bug report.
It is a known issue, you can find it here: https://github.com/Ultimaker/Cura/issues/8745. That's why I will close this issue.
We hope to have a solution soon.

[2021-02-05 07:48] #9239 closed

[2021-02-05 08:06] fvrmr commented on #6852
On the newer issue we've created a ticket for in our backlog. So we have an overview about the feature request, also now it is connected to this issue.
Hope that makes sense.

[2021-02-05 08:08] fvrmr commented on #9227
Unfortunately you can't donate money to prioritize feature requests for us. Hope you understand.

[2021-02-05 08:09] fvrmr commented on #9240
Hi @JerichoGuitars what kind of presents/options you have in mind?

[2021-02-05 09:57] fvrmr commented on #9237
Hi @juspch thank you for your feature request. I will discuss it with the team. Keep you posted!

[2021-02-05 10:51] Ghostkeeper commented on #9108
Ah, sorry. Broken link. That should be Ultimaker/CuraEngine#1210.

[2021-02-05 10:59] Ghostkeeper commented on #9206
Duplicate of https://github.com/Ultimaker/Cura/issues/7626.

[2021-02-05 10:59] #9206 closed

[2021-02-05 11:26] 3dparade opened #9242 "Cura 4.8 adds additional support"
Hello,

we have a support issue on Cura 4.8.
The model is a tube-shape, with vertical wall, which should not be supported at all.
But Cura 4.8 is adding support columns around it. We have tried the support blocker solution,
but without any good result. In spite of the support blocker, the columns are still there.
![c2](https://user-images.githubusercontent.com/76786162/107028088-5c459800-67ad-11eb

[2021-02-05 11:42] Ghostkeeper commented on #8329
Hard to say. We haven't planned it in for a specific release. It's about halfway down our priority list.

[2021-02-05 11:46] Ghostkeeper commented on #8955
These settings are stored on that printer instance. They are not discarded.

So if I read between the lines, you're looking for a way to transfer unsaved changes from one printer to another? Without actually creating a profile from it?

[2021-02-05 11:57] rburema commented on #7445
Seems to be fixed in the current main branch (which is going in 4.9), versus 4.8.

![solved_bug_img_read](https://user-images.githubusercontent.com/41987080/107030941-b0eb1200-67b1-11eb-801c-29deee798983.png)

As such, I'm closing this ticket. Sorry it took so long to resolve.

[2021-02-05 11:57] #7445 closed

[2021-02-05 13:11] Ghostkeeper commented on #6105
@viper0078 The current implementation creates logical output for all shapes. This is not necessarily perfect output for all shapes, but there is output and the output is reasonably logical to expect it to work okay, and easy to reason about why the output is the way it is.

We need to implement an algorithm that produces logical output for all shapes. If it's not logical, that's both a print quali

[2021-02-05 13:14] fvrmr commented on #9242
Hi @3dparade could you share your project file? So I can have a look?

[2021-02-05 13:20] Ghostkeeper commented on #9139
Okay, so for you the loading of container metadata is 29s out of 54s, just over half of the start-up time. While in Oliof's ticket it only takes 0.5s out of 10.5s, which is more like 5%. On my computer today it takes 0.9s out of 3.0s total, though already having launched Cura earlier today the files will largely be in RAM. Interesting how widely different that can be between different systems.

[2021-02-05 13:32] 3dparade commented on #9242
Hi fvrmr,

thanks for reply. Yes, I have tried it... the support disappears if the value is 90, but in that case all support are gone, even
the needed one.

[2021-02-05 14:39] fvrmr commented on #9242
Can I take a look at your project file then?

[2021-02-05 15:31] 3dparade commented on #9242
[UM3_cura4.8_issue.3mf.zip](https://github.com/Ultimaker/Cura/files/5933511/UM3_cura4.8_issue.3mf.zip)

[2021-02-05 16:00] fvrmr commented on #9242
Ah, if you disable `use towers` your problem should be solved.

![Screenshot (38)](https://user-images.githubusercontent.com/77000924/107056965-30d5a400-67d3-11eb-8988-54ed8b94a567.png)

I will close this issue, because there is a solution. Please let me know if it worked!

[2021-02-05 16:00] #9242 closed

[2021-02-05 16:15] JerichoGuitars commented on #9240
I have created a video here;
https://imgur.com/A8Hy9Gd
I will attach a few others to another email.

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Fri, Feb 5, 2021 at 2:10 AM fvrmr <notifications@github.com> wrote:

[2021-02-05 16:25] rickj61 opened #9243 "New Request to reprint last print job at printer"
**Is your feature request related to a problem? Please describe.** No issue just frustrating to go to web (manage printers) to reprint when you are already at the printer to remove print previous print.
(A clear and concise description of what the problem is. Ex. I'm always frustrated when [...])

**Describe the solution you'd like**  Have option to print again (last print job). Much like after ab

[2021-02-05 16:26] JerichoGuitars commented on #9240
https://imgur.com/j5rJt6M

This one is much like Monotonous Infill that many happy users enjoy on the
prusa slicer
https://youtu.be/s9rrLDRyMxU

There are many examples of how it makes a usable part without post
processing.

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Fri, Feb 5, 2021 at 10:16 AM Dave Muselman <dave@jerichoguitars.com>
wrote:

[2021-02-05 16:30] 3dparade commented on #9242
Perfect, thanks for prompt help!

[2021-02-05 19:03] diorcety commented on #8955
For me the unsaved settings are specific settings for the current pieces not the current unsaved settings for the current printer. That what I expected. How I have to do for creating overriding settings for one print (due to parts mechanical properties) and easilly update the printer when I want to reopen it?

[2021-02-05 21:22] PuddingBaer91 opened #9244 "Benchy hull line fix to get better print surfaces"
The benchy hull line problem is discribed by the prusa team and under "development". Please take a look:
https://help.prusa3d.com/en/article/the-benchy-hull-line_124745

I got the idea to let the cura developers implement some test options to get rid of this behaviour. As in the comments mentioned it could be a fix to check before and after layer time. If the layer time differs a lot the print spe

[2021-02-05 23:21] studiodyne commented on #9187
Yes it's a Feature request, but I would like to suggest this as a bug as well. Because CURA offers fine contours and strong fills, and that poses a problem. CURA must absolutely inform the MACHINE that it is changing the way it prints. A machine set to 0.1mm 'with of course an LA' setting, will create a problem if CURA prints at 0.4mm.
CURA must enter this change for the machine to apply the appro

[2021-02-05 23:25] studiodyne commented on #9187
We discussed and did an expertise on MarlinGit and, there are no real 'serious' solutions, to guess at what height to print. We mentioned the detection of multiple extrusions but it's still 'delicate' or 'poker game', in fact it's almost impossible to code a system that can guess what the pressure is in the nozzle and apply the LA settings. So all you have to do is solve this

[2021-02-05 23:30] studiodyne commented on #9187
Last Message
I don't want CURA LA implementation
I don't want LA plugin
I HAVE IT in my machine
I just want CURA give me the information when printing with an other layer height than the ORIGINAL

Thkssssssssss again

[2021-02-06 13:36] DanielHowden opened #9246 "Fuzzy Top"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I do love the fuzzy skin feature and I would love to have that on the top of the part I am printing

**Describe alternatives you've considered**
I have experimented with textures on the model but I doesn't really work for me

**Affected users and/or printers**
For the users who like the fuzz

[2021-02-06 14:17] Miro2407 opened #9247 "Cura 4.8 doesn´t start WIN10"
Hello guys,

suddenly my cura 4.8. doesn't start anymore.
I tried the following things to solve the problem, unfortunately without success:
- uninstall / install Cura 4.8
- unistall cura 4.8 / install 4.7
- unistall / install GPU drivers
- startsettings (compatibility) with win 8
my Computersystem:

Win 10 64bit pro
CPU: Intel Xeon CPU E3-1230 V3 3.30GHz
GPU: Geforce GTX 1080
Ram: 16GB
Storage: 3x

[2021-02-06 15:02] #9247 closed

[2021-02-06 15:20] fespafer opened #9248 "Not working purge tower on Geeetech A20M"
**Application version**
4.8.0

**Platform**
WINDOWS 10 PRO VERSION

**Printer**
GEEETECH A20M

**Reproduction steps**
1. I added printer setup from marketplace in order to activate "shared heater" (which A20m has), since it was removed after 4.6 version
2. Tried to print using 2 colors, but purge tower doesn't work propertly

**Screenshot(s)**
(Image showing the problem, perhaps before/after image

[2021-02-06 17:09] fieldOfView commented on #9247
I don't know if you meant to close this issue. I see you may have multiple GPUs, and might have multiple displays. You can probably fix this issue by (temporarily) disabling all but one display. Then start Cura, go to the General preferences and disable to option to "Restore window position on start". Close Cura, reenable the other display(s), and start Cura again.

[2021-02-06 17:19] alexmatveev1 opened #9249 "Hole Horizontal Expansion"
When specifying the horizontal expansion of holes, the 35th layer in the attached project file is not filled.
Cura version 4.6.1 and 4.8
[Hole.zip](https://github.com/Ultimaker/Cura/files/5937273/Hole.zip)
![Skipped layer](https://user-images.githubusercontent.com/78656105/107125695-4202db80-68cd-11eb-9982-3051fa87af23.PNG)

[2021-02-07 01:10] tommylux commented on #5106
I'd also like to set the firmware retraction in start code. Does start code support mathematical functions? I assume not based on darconeous's comments.

[2021-02-07 13:49] Peter2055 opened #9251 "Zooming into model which disappears off the bottom of the window."
Version 4.8.0

The issue has existed as long as Ive been using Cura. When zooming into the model it will often disappear off the bottom of the screen so its no longer visible at all. Could the build plate be positioned in the window so the model doesn't disappear when zoomed in? Though the view can be reset its always zoomed out. When zooming back in it disappears again. Ive just accepted the issu

[2021-02-07 15:04] userosos opened #9252 "[4.8]Intermittent freezing Cura"
**Application version**
4.8

**Platform**
Windows 10 64 bit 20H2 19042.746

**Printer**
Custom

**Reproduction steps**
1. Move an parts or just do nothing

**Actual results**
Sometimes i can see an freezing (~5-10 sec) an window Cura

[cura.log](https://github.com/Ultimaker/Cura/files/5939215/cura.log)

[2021-02-07 20:28] mirecta commented on #5030
Shared Heater - where it is i have daily builds and it not found

[2021-02-07 22:15] Triangulix opened #9253 "Load projects without overwriting printer config"
*Is your feature request related to a problem? Please describe.*

I just found out that Cura overwrites the printer configuration when I open an old project and choose to also load the parameters.
Has anyone ever thought "When opening an old print I whished I could also load my old printer config from before all the upgrades I did to the printer since this project."?
Really. The printer configurat

[2021-02-08 02:44] greppp commented on #5970
Also having the same issue. Manjaro with KDE plasma.

[2021-02-08 08:23] fvrmr commented on #9249
Hi @alexmatveev1,
I tried to reproduce this in 4.8, but I'm not having the same issue.

![Screenshot (41)](https://user-images.githubusercontent.com/77000924/107193527-3b6c8500-69ef-11eb-883d-2610c3b2a4e8.png)

Does this happen with only this file?

[2021-02-08 09:41] fvrmr commented on #9237
I have discussed it the team. We will defer this feature request, it will take a lot of time implementing this because we think not many users will use it.
Hope you understand!

[2021-02-08 09:50] StuSerious commented on #9251
You could've put a bit more effort into your report..
Could you provide screenshots or a small clip of the issue? Or maybe a project file?
Does turning on "Center camera when item is selected" in 'Preferences > Configure Cura...' help with the issue?
It could also be a driver on your side acting up, I think logs could help to check for OpenGL errors!

[2021-02-08 10:24] #9170 closed

[2021-02-08 10:42] fvrmr commented on #9243
Hi @rickj61 thank you for your feature request. I know the struggle.
But I will have to defer this, because it is not on our priority list.
Hope you understand!

[2021-02-08 10:49] fvrmr commented on #9246
Hi @DanielHowden thank you for your feature request. I will discuss this with the team. Keep you posted!

[2021-02-08 11:14] fvrmr commented on #9248
Hi @fespafer thank you.
This is expected behaviour of Cura. Because your second extruder isn't active in the first layers of your model. So it won't print on the prime tower. Because it takes a lot of time while printer.
But you could enable `wipe inactive nozzle on prime tower`. You can read more about this setting here: https://github.com/Ghostkeeper/SettingsGuide/blob/master/resources/articles/

[2021-02-08 11:20] fespafer commented on #9248
Hi @fvrmr, thanks for your reply. I've already ticked this options, but the result is the same. The tower is growing thinner than expected, so when 2nd colour is needed, there is not base for it and the filament is sticked to the hot end, ruining the model.

[2021-02-08 11:45] fvrmr commented on #9248
Hmm okay, could you share your project file?

[2021-02-08 11:50] fespafer commented on #9248
Sure!

[SOPORTE SERGIO FINAL.zip](https://github.com/Ultimaker/Cura/files/5943463/SOPORTE.SERGIO.FINAL.zip)

[2021-02-08 11:51] fespafer commented on #9248
Please, check how tower is thinner than needed until layer 43, where 2nd colour starts mixing with 1st colour. thanks in advance

[2021-02-08 11:59] alexmatveev1 commented on #9249
In Сura v 4.8.0 I tested another 3d model with the same issues.

[Hole2.zip](https://github.com/Ultimaker/Cura/files/5943511/Hole2.zip)

[2021-02-08 12:14] Ghostkeeper commented on #9209
I think the flow switch from infill to outer wall would cause a much greater error then.

[2021-02-08 12:19] Ghostkeeper commented on #9211
A manual connect option is being discussed in this feature request: https://github.com/Ultimaker/Cura/issues/5207

[2021-02-08 12:19] #9211 closed

[2021-02-08 12:21] Ghostkeeper commented on #9212
I wonder why having too high of a Support Join Distance would cause this support to disappear though?

[2021-02-08 12:30] Julius971 commented on #9209
Assuming you use different flowrates.

[2021-02-08 12:34] Ghostkeeper commented on #9216
It still catches quite a few mistakes in our code from time to time, just through our automated CI runs. It's not checking everything, but if it checks most of our own code that already has value for us.

We do already add the `--ignore-missing-imports` flag for MyPy:

https://github.com/Ultimaker/Cura/blob/79ec71ca4c14a2fdb62656e6bc0844734b4b35b1/run_mypy.py#L69-L72

The real PyQt modules don't h

[2021-02-08 12:37] fvrmr commented on #9251
Hi @Peter2055 this depends on the height of your model.
But I will discuss this with the team. Keep you posted.

A good work around is the one @StuSerious is suggesting.

[2021-02-08 12:46] fvrmr commented on #9252
Hi @userosos thank you for your report.
I looked into your log file but couldn't find anything.

Could you log out in Cura and see if that helps from freezing.

[2021-02-08 12:48] Ghostkeeper commented on #9218
I consider this to be an ongoing UX problem. It's hard to discover such hotkeys in Cura :(

The cutting mesh still makes it behave as if it's two separate meshes, by design. This would have the same effect, so it wouldn't solve your issue.

I think the result should not depend on whether two meshes are grouped or not. Nothing else in Cura currently depends on that other than the front-end transfor

[2021-02-08 13:03] Ghostkeeper commented on #9220
Is it expected that an application would crash clearing the `GL_COLOR_BUFFER_BIT` when using `uxa`? Seems a bit of a weird acceleration option if the colour buffer can't be cleared! But thanks for finding a workaround! That will be useful for people trying to fix this issue later. I'll modify the title to help that cause.

[2021-02-08 13:09] fvrmr commented on #9249
Thank you I can reproduce this with your new file. I will discuss this with the team.

[2021-02-08 13:17] Ghostkeeper commented on #9209
Indeed. I'm saying this because most profiles have their infill print much faster than their inner walls or outer wall.

[2021-02-08 13:29] userosos commented on #9252
Only the Cura window hangs. The system continues to work fine.

[2021-02-08 13:34] fvrmr commented on #9252
Yes I mean your Cura account!

[2021-02-08 13:35] userosos commented on #9252
I unlogged and just moved the part. It not helped.
[cura.log](https://github.com/Ultimaker/Cura/files/5943968/cura.log)

[2021-02-08 13:38] Ghostkeeper commented on #8784
Your issue is the same as the report from Malwikl then, Xeno8888. It's useful to know that it happens on multiple computers, but we're not yet at the bottom of this. We're planning on updating some of our dependencies to hopefully resolve this in the next release.

[2021-02-08 14:29] fvrmr commented on #9244
Hi @PuddingBaer91 thank you.
We are also aware of this issue. And we would love to have a solution for this.

Would love to hear possible solutions here over this problem.

[2021-02-08 14:58] Julius971 commented on #9209
Yea, but for lin_advance users where pressure and speed becomes more and more irrelevant, this wouldn't affect it anymore.

[2021-02-08 15:30] fvrmr commented on #9253
Hi @Triangulix thank you for your feature request.

Your request looks the same as #9000 that's why I will close this issue.
But I will discuss this topic again with the team. Keep you posted!

[2021-02-08 15:30] #9253 closed

[2021-02-08 15:51] nallath commented on #9238
Is this only when you send it over wifi? How does the g-code actually look?

[2021-02-08 16:02] Ghostkeeper commented on #9244
The issue is that there's a completely solid layer of skin there. The material normally shrinks when cooling, but due to the extra material there it is unable to shrink. This makes it a bit wider.

Reducing the Skin Expand Distance to 0.5mm (down from 0.95) removed the banding issue because the skin is then no longer blocking the wall from shrinking. There's a bit of infill in between then.

![IMG

[2021-02-08 16:07] PuddingBaer91 commented on #9244
@Ghostkeeper never known this solution :) thank you i will try

[2021-02-09 00:36] GregValiant commented on #9251
In Orthogonal view, the setting "Zoom toward mouse direction" doesn't work.  But after zooming I can click the center scroll button and drag the view back to the center and then zoom in some more.  Using Perspective view "Zoom toward Mouse" works as it should and you can move the mouse to direct the model to stay in the center of the screen during a zoom.

[2021-02-09 00:57] GregValiant commented on #9238
My Start Gcode is nearly identical to yours.  The snippet is from an actual gcode file.  The heating lines are inserted by Cura prior to the Start_gcode.  (I removed the Start Gcode line "M190" as I don't need it for PLA)

;Generated with Cura_SteamEngine 4.8.0
M140 S50
M104 S210
M105
M109 S210
M82 ;absolute extrusion mode
**; Ender 3 Custom Start G-code**
G92 E0 ; Reset Extruder
G28 ; Home all ax

[2021-02-09 03:35] PoiMechanic opened #9254 "Support Blocker Doesnt work if under 5mm wide"
**Application version**
4.7 and 4.8

**Platform**
Macbook Pro 16" OS Catalina, AMD Radeon Pro 5600M

**Printer**
Prusa MK3S

**Reproduction steps**
Model requires supports up the column in the middle. If I have support walls set to anything above 0 (2 in my case) the supports will close in with no openings so I have to cut them off (that might be a bug by itself).  The main bug is when I use a sup

[2021-02-09 04:41] mrmichaelrb commented on #9212
Logically I would say it seems like a bug. I don't see any reason why it should happen. But my problem is solved, and it seems like they are moving on to a new Arachne engine that I assume does not exhibit this problem, based on the test slice that @fvrmr did.

[2021-02-09 07:55] Bighoneypot commented on #9238
Thank you, I'm try this..

Il giorno mar 9 feb 2021 alle ore 01:57 GregValiant <
notifications@github.com> ha scritto:

--
*Foddis Gabriele*

+393403394922

[2021-02-09 08:44] Ghostkeeper commented on #9222
We'll try to help out! Most of it is straightforward, but with the plural cases and the replacement keys a lot of translators have had problems.

[2021-02-09 10:06] Ghostkeeper commented on #9252
I'm using the exact same laptop as you, so the hardware is not the problem.

[2021-02-09 10:14] fvrmr commented on #9254
Hi @PoiMechanic try to change the `support join distance` to 0.  That should probably fix your problem.
Please let me know if that works for you!

[2021-02-09 10:17] fvrmr commented on #9252
I still couldn't find anything weird in your log file. So unfortunately I can't help you with this right now, because we can't reproduce this and can't find the problem.
So we'll have to wait for others with this problem.

[2021-02-09 10:18] nallath commented on #9249
It's an issue with the Arachne build as well.

![image](https://user-images.githubusercontent.com/3922611/107349475-8e663b00-6ac8-11eb-932d-9746c6c1726e.png)

[2021-02-09 10:26] Ghostkeeper commented on #9224
I'm unable to reproduce this. Here I have a model of a sheared cube which has a rather steep overhang, steep enough for the entire outer wall to hang in the air.
![image](https://user-images.githubusercontent.com/2448634/107350158-5d3a3a80-6ac9-11eb-97dc-e8f94836879f.png)

Regardless of whether lines are shorter than the Minimum Bridge Wall Length or longer, it's not using the bridging routine for

[2021-02-09 10:33] Ghostkeeper commented on #9209
Right, but then the oozing would also be less of a problem if Linear Advance is working properly.

As an alternative, the "Extra Infill Wall Count" setting adds a wall specifically around your infill which gets printed along with your infill. If you use the same flow rate for infill and walls, or if flow rates are indeed irrelevant, then this prints precisely in the order that you ask.
The intenti

[2021-02-09 10:52] rburema commented on #9249
@nallath Can you put it back on the board then, for additional discussion/decision tomorrow morning?

[2021-02-09 10:52] Ghostkeeper commented on #9225
I've made a small modification based on this bug, since the miter limit was also making lines hang in mid-air. It should be a bit better by default in the next version.

[2021-02-09 11:06] Ghostkeeper commented on #9227
We do accept pull requests though, even if those pull requests are made by a developer who was paid for it. (How would we even know?)

[2021-02-09 11:09] fvrmr commented on #9248
It is still expected behaviour. On layer 43 the second extruders becomes active. And that's why the prime tower will grow bigger.
I changed colours of the materials to make it more clear. Black is extruder 1 and yellow is extruder 2.

**Layer 19:**
![Screenshot (46)](https://user-images.githubusercontent.com/77000924/107354372-5cf06e00-6ace-11eb-847a-0c10868a751e.png)

**Layer 43:**
![Screenshot (

[2021-02-09 11:09] #9248 closed

[2021-02-09 11:10] Ghostkeeper commented on #9228
The material profiles can override the extruder start and extruder end g-codes, but not the global start and end g-codes (since you can have different material profiles in each extruder). There is no interface element for it though, so it involves editing the .xml files.

[2021-02-09 11:14] fvrmr commented on #9246
I discussed it with the team, but I will defer this issue because it is not one of our priorities right now. And it would also be very complex to implement.
Hope you understand!

[2021-02-09 11:15] fespafer commented on #9248
Ok, thank you, I see what you mean, but it's a waste of material. Thank you anyway. Regards

[2021-02-09 11:22] fvrmr commented on #9248
Yes I know, but changing this is not one of our priorities, because we never had real problems with it.

[2021-02-09 11:23] JerichoGuitars commented on #9227
Will you guys be adding the Monotonous infill feature like Prusa has?

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Tue, Feb 9, 2021 at 5:06 AM Ghostkeeper <notifications@github.com> wrote:

[2021-02-09 12:05] smartavionics commented on #9249
The following has not been extensively tested but appears to fix the issue...
[code]

[2021-02-09 12:28] PoiMechanic commented on #9254
Unfortunately that didn't so anything. Tried just doing that by itself and with the support blockers.

[2021-02-09 12:47] smartavionics commented on #9249
Yeah, that wasn't quite right, you still need to union the holes, so this is a better fix...
[code]

[2021-02-09 12:47] fvrmr commented on #9254
I tried it myself, and here is my support blocker 4 mm.
![Screenshot (47)](https://user-images.githubusercontent.com/77000924/107365580-47cf0b80-6add-11eb-8ed2-e6c04d877f20.png)

Could you share your project file? You can share is as a .zip

[2021-02-09 13:54] fvrmr commented on #9227
As you can see in the other issue, we've created a ticket for this so it is on our backlog. But it is not prioritized. So I can't give you a timeline when we will implement this.

[2021-02-09 13:55] StuSerious opened #9256 "[at least 4.8] Automatically selected models do not center the camera while auto-center is enabled."
**Application version**
Cura 4.8 | Windows

**Platform**
**OS:** Windows 10 Home
**CPU:** R5 2500U w/ Vega 8 GPU
_Note: this is the platform I discovered the "bug" on, but I can reliably reproduce it in every other platform I tried._

**Printer**
Ultimaker S5
_Note: I can also reproduce the "issue" on every custom profile I have!_

**Reproduction steps:**
1. Head to 'Preferences > Configure Cura..

[2021-02-09 14:27] StuSerious commented on #9256
Uh also, I forgot, I'm open for suggetions for a shorter title 🤣

[2021-02-09 14:28] drewlucas98 opened #9257 "Holes in outer wall"
**Application version**
4.8.0
**Platform**
Windows 10 pro 64 bit with an rx5700xt

**Printer**
ender 3v2

**Reproduction steps**
1. try to print this https://www.thingiverse.com/thing:3612920
2. rotated object so that its flat side is facing down.
3. sliced
4. top of the mount has gaping holes in the preview

**Screenshot(s)**
![image](https://user-images.githubusercontent.com/13401164/107377145-9

[2021-02-09 14:38] fvrmr commented on #5030
Hi @mirecta it is still there as machine setting, but not visible. You can find more here: #8148

[2021-02-09 14:57] StuSerious commented on #9257
@drewlucas98 I can't reproduce the issue on my Ender-3, but I would bet thatwhat you are seeing is the effect of excessive coasting!
Try to turn off '**Coasting**' or to reduce its volume [you can find the setting tree under the Experimental category].

If after turning off coasting it still has those gaps, can you please share your Project File?
Thanks!

[2021-02-09 15:09] swdenman commented on #9225
Thanks for the update.

[2021-02-09 15:14] Julius971 commented on #9209
Ok the extra infill wall makes the deal. Didn't know about that. 👍🏻

[2021-02-09 15:14] #9209 closed

[2021-02-09 16:00] fvrmr commented on #9256
Hi @StuSerious thanks for your report.
I will discuss it with the team. Keep you posted!

[2021-02-09 16:10] fvrmr commented on #9257
Hi @drewlucas98 I can't reproduce this either. This is how I slice it on a Ender 3.

![Screenshot (48)](https://user-images.githubusercontent.com/77000924/107391956-807cde00-6af9-11eb-84b8-69fd25019529.png)

A project file would be helpful!
Disabling coasting is a good suggestion! Thanks @StuSerious

[2021-02-09 16:34] Julius971 commented on #9224
![grafik](https://user-images.githubusercontent.com/27428991/107395185-e028b880-6afc-11eb-8238-f77ce57caa4e.png) - bridging settings enabled

![grafik](https://user-images.githubusercontent.com/27428991/107395277-f33b8880-6afc-11eb-92db-8c717cea9701.png) - bridging settings disabled

[2021-02-09 16:46] Julius971 opened #9258 "Cooling over infill"
My idea builds on the Lift Head functionality to wait for the desired print time. I noticed stringing/oozing caused by this.

**Describe the solution you'd like**
The idea is, not to locate the pause position outside the print (so the oozed material will harm the skin), but to place it on the innermost infill part of the current layer. (or some infill close). The nozzle should be kept over an empt

[2021-02-09 18:43] userosos commented on #9252
Ok. I think that ii some problem with an other software maybe.

[2021-02-09 19:55] Jangbongo opened #9259 "Cura stopped slicing my STL files from Fusion 360 last week. It was working great up until then. When I try to load to the SD card I get an error massage and the file ends with .ufp instead of g-code, but not on the SD card."
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-09 21:08] PoiMechanic commented on #9254
Hmm thats weird. Looks like your Support Wall Line Count is at 0 but I tried that too and it didn't work. I attached a zip of the file. Profile is set to Normal with nothing changed except for the Support Wall Line Count is set to 1
[Cura Issue.3mf.zip](https://github.com/Ultimaker/Cura/files/5954261/Cura.Issue.3mf.zip)

[2021-02-10 07:17] jellespijker commented on #9190
@Ghostkeeper Sorry, this notification got snowed under. I just checked and it is still an issue in the current arachne_rebased. The 3mf file slices 4 cups in on-at-a-time mode. But the problem still occurs with a single model.
![Screenshot_20210210_080436](https://user-images.githubusercontent.com/8535734/107477528-2a9b4b00-6b78-11eb-9858-65fc2195be72.png)

For some reason both the inner and the o

[2021-02-10 12:01] Ghostkeeper commented on #6036
The Cura developers can't implement this though. We don't have your printer. The Ultimaker S5 has a filament flow sensor but doesn't connect via USB (and the pause is properly implemented in the firmware).

Cura will send commands for the printer to execute, filling up the command buffer of the printer (so Cura is usually like 16 commands ahead of the printer). If the printer needs to pause for an

[2021-02-10 12:01] #6036 closed

[2021-02-10 12:31] Julius971 opened #9260 "Bedleveling options."
**Describe the solution you'd like**
Really simple idea, but it could improve first layers alot.
There should be a new placeholder for the start gcode where cura pastes a bed leveling command. And for the command there should be settings wherr you can set the bed leveling boundaries to fit your print. This would use the configured amount of bed level points only on the used printsurface to give a

[2021-02-10 12:50] Julius971 commented on #8983
Hey, found this issue while being bored. Wouldn't something like "infill support" maje the deal? The slicing process would look for those parts before everything else and add geometry as support. (Maybe with support settings applied later on).
After that the usual slicing process generates the infill around the inner support structure.
This should be the easiest implementation with best results.

[2021-02-10 12:54] Julius971 opened #9261 "Electricity cost"
Quick and easy feature. Machine settings could have an option like average wattage. And you could add electricity cost €$£¥ per kwh.(please tell me as a non native english speaker how to say that😂)

[2021-02-10 13:36] Ghostkeeper commented on #5825
Maximum Speed Z is a machine setting and not visible in the interface. It can normally only be changed by printer definitions.
There is a plug-in in the marketplace called Printer Settings which will make those settings visible. This then allows you to change settings which Cura considers to be inherent to the printer or its firmware.

In Cura 4.8, the Maximum Speed Z is only used as maximum for s

[2021-02-10 13:38] Ghostkeeper commented on #9234
It's not something that Cura can really solve as far as I now. See my explanation in the previous bug report about this: https://github.com/Ultimaker/Cura/issues/6036#issuecomment-776659881

[2021-02-10 13:48] StuSerious commented on #9261
+1! This would be cool!
In the meantime if you want, a cool resource is [this spreadsheet](https://github.com/CNCKitchen/3D-Printing-costs) from Stephan over at CNCKitchen.
I use a modded version of this to run my numbers!

[2021-02-10 14:02] Ghostkeeper commented on #8905
No, it doesn't apply gamma. It maps `(P/255)` on the range `[base_height, base_height + H]` linearly. It's meant to function more like a height map, which is a good application for linear I think. Predictable at least.

I think it's acceptable that having too small a thickness loses range. The lithophane is very thin then anyway, so you couldn't expect it to become very dark. If we can improve the

[2021-02-10 14:25] zipspence commented on #5825
Z hop speed

On Wed, Feb 3, 2021 at 09:23 xavierator <notifications@github.com> wrote:

[2021-02-10 14:47] xavierator commented on #5825
**Mistery discovered:** in my case is a filament sensor problem, I'll need to change the filament sensor that detect wrong the end of filament when there are filament.
Thanks for your help

[2021-02-10 17:10] Comango104 commented on #8574
Can confirm, Z-Hop is the culprit.

[2021-02-10 18:28] nay0219 opened #9262 "Cura adds a new layer in my hollow object"
**Application version**
4.8.0

**Platform**
Windows 10 Home 64 Bit operating system, 16GB

**Printer**
Ultimaker S5

**Reproduction steps**
1. Uploaded STL file made from C4D. Printed with PVA.
2. Sliced--model is hollow when "Preparing" but once sliced, the "Preview" shows a new layer formed on the base of the design.

**Screenshot(s)**
![image](https://user-images.githubusercontent.com/78872640/

[2021-02-10 19:55] Bob90 commented on #5980
Someone tried this https://hackaday.com/2016/07/27/3d-printering-non-planar-layer-fdm/

[2021-02-10 20:15] KenLucke opened #9263 "Odd behavior with Make Overhangs Printable"
**Application version**
4.8

**Platform**
Mac OS
![image](https://user-images.githubusercontent.com/57936294/107565207-47e01180-6b98-11eb-9e27-08d4ccc68f90.png)

**Printer**
Creality CR-10s (with settings to make CR-10v2)

**Reproduction steps**

1. Loaded model
2. Set slicer settings, including Make Overhangs Printable
3. Sliced

**Screenshot(s)**
Top:  No "Make Overhangs Printable"
Middle: With

[2021-02-11 04:49] #9195 closed

[2021-02-11 07:42] MeckyGT opened #9264 "Cura Marktplatz"
Hallo,
At the cura Marketplace    Calibration Shapes     the Link in the left corner isn´t right.
And the Version is to day 1.0.9     not 1.07.
The change is very interesting because the is now the PETG Test Tower.
Thank you.

[2021-02-11 08:12] fvrmr commented on #9259
Hi @Jangbongo could you please fill in the form. And give us more information, screenshots, log file etc.
So it's easier for us to understand and take a look at it.

[2021-02-11 08:17] fvrmr commented on #9262
Hi @nay0219 could you share your project file? So I can have a look at your model myself!

[2021-02-11 08:24] nallath commented on #9263
`Cura adds a center portion of the body that does not exist`

That is exactly what the make overhangs printable setting is supposed to do.

[2021-02-11 08:59] fvrmr commented on #9254
Hi @PoiMechanic thank you for your project file.
It is working for me. The `support join distance` is 0 and `support wall line count` is 1.

![Screenshot (49)](https://user-images.githubusercontent.com/77000924/107616992-59d0bb80-6c4f-11eb-8533-155795562262.png)

Here is the file from the screenshot above. Can you take a look at it and see if it is still happening?
[PI3MK3M_Cura Issue.zip](https:/

[2021-02-11 09:05] BagelOrb opened #9265 "Tree support assertion failure / crash"
**Application version**
current master / the UMH-... branch

doesn't reproduce on 4.8

**Platform**
WSL

**Printer**
UM3

**Reproduction steps**
1. load
[UM3_cube_cm_bug.3mf.renamed.zip](https://github.com/Ultimaker/Cura/files/5963985/UM3_cube_cm_bug.3mf.renamed.zip)

**Screenshot(s)**
![image](https://user-images.githubusercontent.com/8895761/107617554-6b669300-6c50-11eb-8872-89130ce20b12.png)

*

[2021-02-11 12:07] PoiMechanic commented on #9254
Hot diggity damn that is the fix! I guess the support join distance is normally set to 2 so that must be the issue. Thanks so much @fvrmr

[2021-02-11 12:18] Ghostkeeper commented on #8983
Your support infill density is set to 0% though, so it kind of makes sense that you could get unsupported parts. However your case is quite separate from this one. It's really more like issue #4342.

After that the usual slicing process generates the infill around the inner support structure.
This should be the easiest implementation with best results.

Yeah I would consider the Infill Support fea

[2021-02-11 12:22] Ghostkeeper commented on #9224
Nice pictures!

[2021-02-11 12:23] nallath commented on #9264
The link is something that @5axes needs to fix. The newer version of the plugin is still under review by us, but you can expect that to be released soonish.

[2021-02-11 12:23] #9264 closed

[2021-02-11 12:30] fvrmr commented on #9265
Hi @BagelOrb thanks for your report. Will discuss it with the team!

[2021-02-11 12:50] Ghostkeeper commented on #9265
I'm not getting a crash with that project file on master.

It produces no infill since the infill pattern is undefined (part of your project which is not in the master branch), but setting that back to Triangles everything looks fine.
![image](https://user-images.githubusercontent.com/2448634/107638606-1c305a80-6c70-11eb-8819-947155e1b173.png)

[2021-02-11 12:54] fvrmr commented on #9261
Hi @Julius971 thank you for your feature request. I will discuss this with the team. Keep you posted!

[2021-02-11 13:12] fvrmr commented on #9263
I will close this issue because it is expected behaviour from Cura.
Hope you understand. Please let me know if you have questions.

[2021-02-11 13:12] #9263 closed

[2021-02-11 13:21] fvrmr commented on #9254
Your welcome!
I will close this issue, because it is solved!

[2021-02-11 13:21] #9254 closed

[2021-02-11 13:21] fvrmr commented on #9258
Hi @Julius971 thank you for your feature request.
I will discuss this with the team. Keep you posted!

[2021-02-11 13:27] fvrmr commented on #9256
Hi @StuSerious,
I have discussed it with the team. And I have to defer this issue.
It is not a big issue and priority for us and with the work around to click on the model when loaded it will zoom in to your model. But it takes an extra click. 😉

Hope you understand!

[2021-02-11 13:32] fvrmr commented on #9260
Hi @Julius971 thank you again for your feature request.
Unfortunately I have to reject this feature request. Because it very printer specific.
A work around is to add this manual to your start g-code.

Hope you understand!

[2021-02-11 13:32] #9260 closed

[2021-02-11 13:57] Julius971 commented on #9260
Or could it be possible to add placeholders like marginleft/right/front/back to implement them in the start gcode. But calculating the values by hand is a bit tricky. Done by cura it would simply looking for max and min values of the first layer and use them.
minx = marginleft
maxx = marginright etc

[2021-02-11 13:59] Julius971 commented on #9224
Oh damn missed that. Will do👍🏻

[2021-02-11 14:11] nay0219 commented on #9262
[lamp low poly.zip](https://github.com/Ultimaker/Cura/files/5965998/lamp.low.poly.zip)

[2021-02-11 15:25] 5axes commented on #9264
What is this link you're talking about?

[2021-02-11 15:48] nallath commented on #9264
@5axes I think he means this (there is a double https:// in there):

![image](https://user-images.githubusercontent.com/3922611/107660846-fcf1f700-6c88-11eb-9447-c1cee6be0eff.png)

[2021-02-11 15:50] MeckyGT commented on #9264
Yes that is what I meen.
--
Gesendet über myMail für Android Donnerstag, 11 Februar 2021, 04:49nachm. +01:00 von Jaime van Kessel  notifications@github.com :

[2021-02-11 16:52] BagelOrb commented on #9265
You might want to take a second look at the code where the assertion failure happens. Otherwise we could just clost this issue as non-reproducible...

[2021-02-11 18:59] FFY00 opened #9267 "[4.8.0] Bad skirt outline calculation"
**Application version**
4.8.0

**Platform**
Arch Linux

**Printer**
Ender 3 V2

**Reproduction steps**
1. Load https://www.thingiverse.com/thing:2515926
2. Enable skirt
3. Slice

**Screenshot(s)**
![cura-skirt-broken](https://user-images.githubusercontent.com/11718923/107684456-ba391a80-6c9a-11eb-9d85-94b5bd13df89.png)

**Actual results**
The big cylinder piece does not get included in the skirt o

[2021-02-11 19:05] zerox1212 commented on #1747
Hate to resurrect this, but is there a setting for this yet?

Printing PETG with so many retractions is huge pain. The grid isn't even needed for PETG because it already sticks to the build plate so strongly removal is difficult.

It also adds a significant amount of print time if you are doing a large part!

[2021-02-11 20:34] martijnschouten opened #9268 "Cura turning off extruder halfway a print"
**Application version**
Cura 4.8.0 and 4.7.1

**Platform**
Windows 10

**Printer**
Diabase H-series

**Reproduction steps**
1. Make a 3 material print, using extruder 3,4 and 5
2. Click slice
3. Check the code that was produced using notepad++

**Screenshot(s)**
![image](https://user-images.githubusercontent.com/6079002/107693369-57517e80-6cae-11eb-9f21-b9a282d58caa.png)

**Actual results**
There

[2021-02-11 22:56] Cortexian opened #9269 "Support Layer Height / Combine Support Layers Ever X Layers"
In the interest of saving the most time possible, and speeding up overall print time, it would be excellent to have more refined control over the layer heights of different line types. We can already do this for Infill lines, but it would be excellent to have the option for support height as well!

Please add a setting under the "Support" section of Print settings for "Support Layer Height" or "Co

[2021-02-12 07:44] jellespijker commented on #9190
Devs added to the backlog for the beta version as ticket CURA-8019

[2021-02-12 07:48] fvrmr commented on #9267
Hi @FFY00 thank you.
It looks like this is a problem with the model. Because if you look at the first layer, you can see the big cylinder is not aligned at the same height as the spool holder and the ring.
![Screenshot (52)](https://user-images.githubusercontent.com/77000924/107741643-da55f180-6d0d-11eb-8c44-cc776b26f3ff.png)

A simple solution for this is to move your model -0.02 on the z axis.
!

[2021-02-12 07:48] #9267 closed

[2021-02-12 09:57] StuSerious commented on #9256
Thanks alot @fvrmr!
I can totally see why you deferred, no big deal with the workaround!
As always thanks a lot for your time!

Should I close the issue?

[2021-02-12 11:58] fvrmr commented on #9258
This feature request is on our backlog.
Developers see CURA-8022

[2021-02-12 12:09] fvrmr commented on #9265
Hi @BagelOrb we couldn't reproduce this.
So I will close this issue.

[2021-02-12 12:09] #9265 closed

[2021-02-12 12:26] fvrmr commented on #9268
Hi @martijnschouten thank you.

I looked into your files, but I couldn't find the line 2781 with M104 T1 S0.

But I think what is happening is that the first extruder is used for the `build plate adhesion` and after it is used it will turn off, because it doesn't have to print anymore.
The reason why it is not going on the standby temperature is because this could cause oozing.

When I disable the

[2021-02-12 12:29] fvrmr commented on #9269
Hi @Cortexian thank you for your feature request.
We have already have a setting for this and that is `support layer infill thickness`.

I will close this issue because there is a fix for your request.
But please reach out if you have questions.

[2021-02-12 12:29] #9269 closed

[2021-02-12 12:32] fvrmr commented on #9256
Your welcome

No you can leave it open, because it is deferred and not rejected 😉

[2021-02-12 12:59] GregValiant commented on #9262
Cura didn't report any errors when opening the file but it doesn't typically make things up.  I think there were reversed faces 7.2mm tall at the bottom.  Service.Netfabb.com repair utility fixed them.  The attached is the repaired model from the STL so it isn't scaled the same as the 3mf was.
[lamp_low poly_fixed.zip](https://github.com/Ultimaker/Cura/files/5971849/lamp_low.poly_fixed.zip)

[2021-02-12 13:08] Ghostkeeper commented on #9235
Since it apparently worked on the same computer previously, something must have changed on the software and broke Cura. I can think of two things which could have a result like this:

* You've updated your graphics drivers and the new update has a regression. You could try rolling back your graphics drivers then, though that is not something most people would like to do. Another option would be to

[2021-02-12 13:25] Ghostkeeper commented on #9240
Monotonic ordering is a duplicate of this issue: https://github.com/Ultimaker/Cura/issues/8909
I'd still consider it a lines pattern, but an option part of that.

The other ordering seems to go back and forth a bit, skipping a line and then going back to the skipped line. What do you reckon would be the point of doing this?

[2021-02-12 13:26] #8283 closed

[2021-02-12 13:57] #9235 closed

[2021-02-12 13:58] uglygargoyle commented on #9235
I uninstalled cura and deleted all of the folders and then rebooted and reinstall and it worked and has worked since so I have closed this issue. Thanks to all for comments

[2021-02-12 14:34] Ghostkeeper commented on #8955
It's kind of assuming that if you switch to a different printer, the settings you were using on that previous printer don't apply, since you'd be using different nozzles, different materials, etc.

There are so many possible use cases that it becomes extremely complex to support them all. The project files are meant to reproduce the entire state of when the project file was saved. That's currently

[2021-02-12 14:42] Ghostkeeper commented on #9187
If the layer height has been adjusted from the default in Cura, it will appear in the bottom of the g-code as an adjusted setting. Here's a snippet of the g-code output at the end of a file generated by Cura 4.8:

[code]

It's an encoding of the unsaved setting changes. Halfway through you'll find `layer_height = 0.16`, indicating that I changed the layer height to 0.16mm.

Does that solve your pr

[2021-02-12 14:57] martijnschouten commented on #9268
Hi, thank you very for looking at the gcode, and i'm really sorry the lines weren't there, very sloppy. I changed to cura 4.8 to check if it happened there as well, which didn't have the post-processing script for the diabase (which renames T0 to T1). It is now M104 T0 S0 at line 2649.

The thing is that extruder 0 should not stop extrudering after the first layer, because the extruder is still us

[2021-02-12 15:00] dacobi opened #9271 "Cura 4.8 Open File crashes"
**Application version**
Running Cura 4.8

**Platform**
Manjaro 20.2.1

**Printer**
Prusa i3

**Reproduction steps**
Open Cura
Click Open File

**Screenshot(s)**
None

**Actual results**
Cura crashes

**Expected results**
Cura should open file

**Log file**
[cura.log](https://github.com/Ultimaker/Cura/files/5972555/cura.log)

**Additional information**
Console output:

[code]

[2021-02-12 15:49] ryanaxiom commented on #8751
I know this was marked as closed but I'm posting this just in case someone else finds this via web search or robblot is still looking for a solution for the Sidewinder X1.

Robblot is likely correct that the TFT is causing the incorrect pause functionality.  With the stock firmwares (TFT and mainboard), Artillery added a manual pause button which prevents normal functioning of any of the pause com

[2021-02-12 15:52] fvrmr commented on #5106
Hi @tommylux no the start gcode doesn't support mathematical functions. And like @darconeous said you could add it in your `fdmprinter.def.json`.

[2021-02-12 15:52] TheOutcast83 commented on #8732
I just tried to run Cura 4.8 on my Windows7/10 laptop using the "Run as Administrator" function and it let me add my one non-networked printer that way with out crashing.

[2021-02-12 16:14] ryanaxiom opened #9272 "Timer in pause-at-height script"
**Is your feature request related to a problem?
Yes**

I am using a Sidewinder X1 v4.  With the stock firmwares (TFT and mainboard), Artillery added a manual pause button which seems to be preventing normal functioning of any of the existing pause commands in Cura (pause at height, color change, etc).  At first, the pause command seems to work and the printer parks in the pause position but only f

[2021-02-12 16:23] #9249 closed

[2021-02-12 19:24] diorcety commented on #8955
Currently we can update or create, adding an other to replace by an existing seems not too complexe.

[2021-02-12 19:58] studiodyne commented on #9187
@Ghostkeeper
Thank you for this message which finally looks like a message that I wanted to read !!!!!!!!! I'll check in cura to see if these 'tweak comments' apply to every change. And if so, then I'll come and thank you twice

[2021-02-12 20:05] ryanaxiom commented on #9272
I haven’t tried printing via usb connection to Cura so I will try that to see if that works. Perhaps it will work that way. Printing via sd card and usb drive work as described above.

[2021-02-13 06:26] alvgalrus commented on #8513
@Ghostkeeper You marked this as duplicate of itself. I signed up for an Ultimaker account but settings won't sync between Ubuntu and Windows installations.

[2021-02-13 06:39] jaimemoramora commented on #8475
Obiwalex method worked. Someone needs to add that .dll to the installer.

[2021-02-13 06:51] alvgalrus commented on #8513
@Ghostkeeper I believe you marked this as duplicate of itself. I signed up for an Ultimaker account but settings won't sync between Ubuntu and Windows installations.

[2021-02-13 09:09] userosos commented on #9252
Who can tell me how to diagnose the problem of frequent Cura hangs from third-party software/settings?

[2021-02-13 12:58] The--Captain commented on #5861
Sad to see this is still a thing.

Devs defending broken code is even more unfortunate.  golfromeo-fr is correct.  To execute the begin code and not the end code leaves the gcode in an inconsistent state.

Did Ultimaker manufacture a printer that expects this broken behavior, that they are so unwilling to fix the code to work properly?

I appreciate there is a workaround, but it frankly should be

[2021-02-13 14:29] abrenoch commented on #3775
How is this still a problem?

![image](https://user-images.githubusercontent.com/2146139/107852284-e4dfbc00-6ddd-11eb-9fa5-e947711a0a57.png)

![image](https://user-images.githubusercontent.com/2146139/107852295-f0cb7e00-6ddd-11eb-867c-59a41d68f423.png)

With cura 4.8.0

[2021-02-13 15:52] JerichoGuitars commented on #9240
Mono tonic infill isn’t a feature it is a capability. I have asked some people familiar with polymers/monomers/thermoplastics, my dad was always talking about it when he was VP of chem side at Sherwin Williams but I never fully understood until I recently bought 2 Ultimakers for my company. Amazing machines, we made the right choice.

If you have varying degrees of temp surrounding materials close

[2021-02-13 16:58] JerichoGuitars commented on #9240
﻿Mono tonic infill isn’t a feature it is a capability. I have asked some people familiar with polymers/monomers/thermoplastics, my dad was always talking about it when he was VP of chem side at Sherwin Williams but I never fully understood until I recently bought 2 Ultimakers for my company. Amazing machines, we made the right choice.

If you have varying degrees of temp surrounding materials clos

[2021-02-13 19:01] dstnceswmer commented on #6584
Wondering if there is any more updates on this? I just experienced this for the first time yesterday with version 4.8.
Things I've tried:
Uninstalling/reinstalling after deleting all appdata cura folders (local and roaming)
Downgrading to 4.7 and 4.4
Unplugging 2nd and 3rd monitors
Updating GPU drivers
Uninstalling/reinstalling the VisualC++ redistributables 2015 and later
Manually ran vcredist_x6

[2021-02-14 02:10] jikometrix opened #9273 "Cannot select models and prepare view and preview stop displaying content"
**Application version**
4.8.0

**Platform**
Mac OS 11.2.1, Radeon Pro 455 2 GB

**Printer**
Ender 3 Pro

**Reproduction steps**
I keep have interface issue. First, there are times when Cura decides in the middle of setting up slicing to not display the prepare area models or printer limits. It will also do the same for the preview area, it will not display model or printer limits at random times.

[2021-02-14 04:07] darthdively commented on #9237
Please do not differ this. Many of us are suffering from this. I understand that there will be a lot of time invested in such a feature. Thank you very much for all the hard work the team does.

[2021-02-14 10:31] Wilko01 commented on #8229
II had the same issue: After upgrading and adding a new material the profile was gone. I found the solution relatively easy as the material type needs to be of a known type and not what you might want it to be. In my case I used "eABS Max" as type which resulted in the loss of the profile. By changing it to "ABS" the profiles are back.
Possibly this was also listed by someone else above, but TLDR.

[2021-02-14 13:00] rcmonitor commented on #6982
+1 for mm/time unit setting (mm/s or mm/min).
Volume of material may vary (the filament spool may be of let's say 2.90 instead of 2.85, or 1.70 instead of 1.75), but the performance of extruder on filament may not.

[2021-02-14 13:02] rcmonitor commented on #5248
+1 for mm/time unit setting (mm/s or mm/min).
Volume of material may vary (the filament spool may be of let's say 2.90 instead of 2.85, or 1.70 instead of 1.75), but the performance of extruder on filament may not.

[2021-02-14 13:29] smartavionics commented on #9240
Hi @JerichoGuitars , I have put together a simplistic implementation of the monolithic skin pattern, here's a bad image of an example print, top is original lines pattern, bottom is monolithic lines pattern...

![IMG_20210214_132340274](https://user-images.githubusercontent.com/585618/107878090-4f6d2680-6ec8-11eb-8a13-919a0d85f763.jpg)

If you want to try it out and are willing to install one of m

[2021-02-14 13:50] JerichoGuitars commented on #9240
Man it looks better to me, what do you think?  Physics works!  If you were to add many pattern options or the ability to pick a pattern based on a selection, etc, I have many ideas for patterns.

Can you possibly try another print with no walls or all infill first, single wall at end of layer vice versa?

I am running Cura on Catalina

Sent from my iPhone

[2021-02-14 14:20] smartavionics commented on #9240
Here's the same print with no walls...

![IMG_20210214_141838890](https://user-images.githubusercontent.com/585618/107879261-b93cfe80-6ecf-11eb-96b9-c0f0b8d16016.jpg)

I'll make a MacOS build that you can try.

[2021-02-14 15:00] JerichoGuitars commented on #9240
In terms of uniformity it’s fantastic. I do think extrusion pattern “lines” and “zig zag” should operate this way.  it would be great if I could make changes to it and send them to you. Would also be great as ironing function at end of print and between each layer as well. Thank you. With flow changing and some tweaking cura would have the best sheen and quality prints by a long shot

Sent from my

[2021-02-14 15:05] smartavionics commented on #9240
At the moment, the monotonic printing only works with the lines pattern and not zigzag or concentric. I can't imagine right now how it could work with those patterns. Anyway, I'm just building a MacOS release for you to try, it will be cooked soon...

[2021-02-14 15:21] smartavionics commented on #9240
See https://github.com/smartavionics/Cura/releases/tag/20210214

This has a Monotonic Skin Lines setting that is visible when the skin pattern is "lines".

My builds can be installed alongside the UM builds, they shouldn't conflict at all.

[2021-02-14 15:49] JerichoGuitars commented on #9240
Amazing I will get this first thing! Thank you.

I would imagine you could ask for a coordinate for concentric which would generate a point on or off the plate which could generate the path for infill and the extruder would follow that path, extruding only over the model. Tweaking in preview mode you could find one of a kind surface finishes each time. A Z axis spline or line (2 points) in 3D spac

[2021-02-14 16:34] JerichoGuitars commented on #9240
[image: Screen Shot 2021-02-14 at 10.34.31 AM.png]

Catalina has been creating havoc, not sure if this is related or not.

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Sun, Feb 14, 2021 at 9:22 AM Mark Burton <notifications@github.com>
wrote:

[2021-02-14 17:46] smartavionics commented on #9240
Your image doesn't show because github ignores images in emails, you need to attach it here.

[2021-02-14 17:55] JerichoGuitars commented on #9240
Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Sun, Feb 14, 2021 at 11:46 AM Mark Burton <notifications@github.com>
wrote:

[2021-02-14 20:04] smartavionics commented on #9240
Sorry, I should have said earlier that if you have any problems with my Cura build, please open an issue at https://github.com/smartavionics/Cura rather than discussing here, thanks.

[2021-02-14 20:16] JerichoGuitars commented on #9240
Mark,

Not sure what you mean?  It says it is damaged and cannot be opened.  I
would love to try it out.

Thank you,
Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Sun, Feb 14, 2021 at 2:05 PM Mark Burton <notifications@github.com>
wrote:

[2021-02-14 20:51] smartavionics commented on #9240
What I mean is don't discuss problems with my builds here, open an issue at my repo, the UM devs don't want to be spammed with stuff that isn't relevant to them.

[2021-02-14 20:54] JerichoGuitars commented on #9240
Ok you mean once i can open it if I have issues with it I would have to
uninstall it or contact your repo for any issues with it?

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Sun, Feb 14, 2021 at 2:52 PM Mark Burton <notifications@github.com>
wrote:

[2021-02-14 21:00] smartavionics commented on #9240
How many fucking times do I have to say it, if you have ANY problems with my releases, open an issue on my repo. That's it, I'm tuning out of this issue now, goodbye...

[2021-02-14 21:02] JerichoGuitars commented on #9240
I haven't yet been able to access any of them??

Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On Sun, Feb 14, 2021 at 3:00 PM Mark Burton <notifications@github.com>
wrote:

[2021-02-14 21:06] cchilders20 opened #9274 "creality ender 3 wont connect to my computer via usb. My usb ports work and the cord is good. It says the ender 3 is ready but nothing pops up in the monitor section"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-14 21:32] JerichoGuitars commented on #9240
I don't know how you made your way into my inbox but this is a thread for
an issue with Ultimaker Cura, that's who I thought I was talking to on
account of the email thread attached.  I'm a company owner and I have
opened an issue with the Cura software for our commercial products.

Have a good day,
Dave Muselman
Jericho Guitars, LLC
jerichoguitars.com
baritoneguitars.com
(866) 648-4827 x 705

On

[2021-02-15 02:53] djhnsn opened #9275 "PinePhone UI scaling, and Touch Functionality to rotate work not working."
**Is your feature request related to a problem? Please describe.**

I am using the mobian pinephone linux distribution which is based on debian.
Yes, this program works wonderfully on the pinephone except the ui doesn't scale well on mobile, and the touch functionality is limited to buttons and menu items. I can not rotate the mesh without a mouse.

**Describe the solution you'd like**
It is my un

[2021-02-15 03:47] CaptainSweatpants opened #9276 "Cura mysteriously and drastically changing the shape of the model"
**Application version**
Cura 4.8.0

**Platform**
Win10

**Printer**
Custom Printer & Also same issue on a different Pursa MK3

**Reproduction steps**
1. (Exported Gcode from cura with perfect looking circles, but printing result added a bend & space in the circles. This bend & space is bigger and/or smaller depending on the space in between my walls; also is created with no space between walls. Th

[2021-02-15 03:49] CaptainSweatpants commented on #9276
STL of Model can be found here if relevant
https://we.tl/t-d50T8BzWi4

[2021-02-15 08:33] #9208 closed

[2021-02-15 08:48] smartavionics commented on #8909
I have added a monotonic skin lines setting to my latest release https://github.com/smartavionics/Cura/releases/tag/20210214. It's not a sophisticated implementation and doesn't attempt to minimise the travel moves required but it does appear to work. If you try it out and have any feedback, please open an issue at https://github.com/smartavionics/Cura rather than commenting here.

![IMG_20210214_

[2021-02-15 08:51] fvrmr commented on #9274
Hi @cchilders20 could you please fill in the form and add a log file and maybe a screenshot. Thank you.

[2021-02-15 08:53] fvrmr commented on #9273
Hi @jikometrix thank you.
This is a known issue. You can read more about it here: #8745 and on [our website](https://support.ultimaker.com/hc/en-us/articles/360018141480-Ultimaker-Cura-won-t-run-on-my-new-Macbook).
We hope to fix this soon.

I will close this issue because it is a duplicate.

[2021-02-15 08:53] #9273 closed

[2021-02-15 10:31] #9251 closed

[2021-02-15 10:52] Ghostkeeper commented on #9251
According to our anonymous usage statistics, most scenes that people print are fairly small, 10-50mm. We've decided to lower the default camera position such that the default camera origin is now 30mm above the build plate rather than 100mm. If you load something small in, it'll still go over the top of your model if you zoom in far enough, but it should be better for most prints now.

Myself I ca

[2021-02-15 11:17] fvrmr commented on #9271
Hi @dacobi thank you for your report.
You are running python 3.9 and that's why you get a segmentation fault.
Cura is currently on python 3.5.7.

Try to run the AppImage of Cura. That will probably solve your problem.

Please let me know if run the AppImage your problem is solved.

[2021-02-15 11:27] dacobi commented on #9271
Hi and thanks for your reply.

Running as AppImage works perfectly :)

[2021-02-15 11:27] #9271 closed

[2021-02-15 11:50] Ghostkeeper commented on #9219
Developers, please refer to issue CURA-8031.

[2021-02-15 12:32] Ghostkeeper commented on #9252
If you suspect that other software is causing Cura to hang, the obvious way to test that would be to disable or shut off that software and see if the issue is resolved then.

Perhaps it helps to narrow down when exactly Cura freezes. Maybe it freezes after 10 seconds of inactivity? Maybe it freezes when you're starting a slice?

[2021-02-15 12:49] Ghostkeeper commented on #9248
You can make the extra object arbitrarily small to save time/material. As long as Cura thinks the material is used on that layer, it'll plan a prime in the prime tower.

[2021-02-15 13:09] fespafer commented on #9248
Great, thank you

[2021-02-15 13:15] fvrmr commented on #9276
Hi @CaptainSweatpants thank you for your report.
I looked into your video and project file and it looks like it has something to do with your printer and not with Cura.

Because if I look at your file you see that first the printer prints it clock wise but then it changes and goes counter clockwise. And if your pulleys are not tighten enough on the point where it changes it makes a straight line a

[2021-02-15 14:01] fvrmr commented on #9275
Hi @djhnsn thank you for your feature request.

Really cool to hear that you can use Cura on your PinePhone.

The UI depends on the GUI framework and Cura depends on the Qt framework. Currently we are on Qt 5.10. So we can't change our framework for mobile users.
In the future we will update the Qt version and then it might work better.

Found this reddit post about scaling on Qt applications: htt

[2021-02-15 14:41] #9215 closed

[2021-02-15 16:17] djhnsn commented on #9275
Thank you for your reply 👍

On Mon, Feb 15, 2021, 9:01 AM Fenne <notifications@github.com> wrote:

[2021-02-15 16:39] dorianboulch commented on #8892
The workaround worked for me.

This issue is still present in 4.8.0.

[2021-02-15 18:44] userosos commented on #9252
I noticed that it hangs every ~30-60 seconds.

[2021-02-15 19:08] RocketCityPinball opened #9278 "[4.8.0] Pause at Height fails after model is rotated"
**Application version**
4.8.0

**Platform**
Windows 7

**Printer**
Creality Ender-5

**Reproduction steps**
1. Imported model to build plate, added Post-Processing Code for Pause at Height (at layer), sliced, saved to disk.
2. Rotated existing model by 45-degrees, did not edit nor remove Post-Processing Code in place, sliced, saved to disk.

**Actual results**
1. Non-rotated model printed properly

[2021-02-15 19:33] 3781637 opened #9279 "Combing travel paths seemingly not working"
**Application version**
(The version of the application this issue occurs with.)
4.8.0 & 4.7 (the 2 I've tried)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)
Windows 10 with a GTX1080

**Printer**
(Which printer was selected in Cura?)
Tenlog Hands 2, and Creality CR10

**Reproduction steps**
1. (Something you did.)

[2021-02-15 22:00] RocketCityPinball commented on #9278
Update: It doesn't appear to be based on rotation.  I imported the same model pre-rotated to 45 degrees and it still would not Pause at Height.  The only remaining variable is Supports.  I will try another test run with the rotated component but with no supports and see what it does.

Of course, if that turns out to be the case, it's still a serious problem because I need supports to print many it

[2021-02-15 23:27] khaoskosmos commented on #6650
I have yet to encounter any other app that has this glitched scrolling behavior, odd.

[2021-02-16 00:24] FFY00 commented on #9267
Hi, thank you for the quick response! I ended up just printing as-is, it worked fine as the gap seems to be pretty small. Would it make sense to have cura warn about objects which are completely in the air?

[2021-02-16 09:47] fvrmr commented on #9278
Hi @RocketCityPinball thank your for your report.
Could you share your project files, gcode and log file? So I can try to reproduce your issue.

Your log file can be found here: `C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log `

[2021-02-16 10:42] fvrmr commented on #9275
Hi @djhnsn I have discussed it with the team.
But I have to defer this, because we can't build this just for one device now, so it is not one of our priorities.

A pull request is to make this work is always welcome.

[2021-02-16 11:59] fvrmr commented on #9279
Hi @3781637 thank you for your report.
You are suggesting that the travel paths are different between lower layers and higher layers. But that is not how combing works, it looks at the whole model.
Try to enable `avoid printed parts when traveling` and changing the value of `max comb distance with no retract`.

Please let me know if this makes any sense for you.

[2021-02-16 12:33] fvrmr commented on #9272
Hi @ryanaxiom thank you for your feature request.

I have a work around that might work for you.
You can use the post processing scripts: `pause at height` and `search and replace`. With the search and replace you could search for `M0` and replace it with `G4 S time in sec`

I have to defer this feature request because we don't maintain this firmware. Hope that this work around works for you.
Plea

[2021-02-16 13:02] fvrmr commented on #9267
Great to hear that it did work, it is only one layer so that is mostly not a problem indeed.
Well, that's difficult to tell, because sometimes it is mean to be not to touch the build plate. Also Cura already takes a few mm of the bottom of the object to place it.

[2021-02-16 13:19] fvrmr commented on #9262
Hi @nay0219 could you let us know if the fix of @GregValiant works for you?

[2021-02-16 13:52] Bighoneypot commented on #9238
Don't work.

[2021-02-16 15:43] lwbsbde opened #9280 "Ausgleich Filamentfluss"
CURA 4.8.0
Die "Maximale Geschwindigkeit für Flussausgleich" wird beim Slicen nicht übernommen.
The maximum speed for flow compensation is not adopted when slicing.

[2021-02-16 16:09] rburema commented on #6584
@dstnceswmer You can find  the logs if you click Help -> Show Configuration Folder. It should show up there, as `cura.log`. If you have any difficulties in attaching the file to this issue, please either zip it or rename it.

It might also help to take a look at `cura.cfg`, at least if you switch working configurations often (like the number or monitors attached to the system running Cura).

[2021-02-16 16:22] fvrmr commented on #9280
Hi @lwbsbde could you please fill in the form and add screenshots, a project file and a log file. So we can help you properly.

[2021-02-16 18:04] 3781637 commented on #9279
No, I'm not suggesting that. Making adjustments to 'avoid printed parts when traveling' and 'max comb distance with no retract,' as well as related combing settings (all, not on skin, within infill), does not seem to change the behavior. The travel path does not stay within the printed area, and instead moves directly through/over the empty space in the center of the model. Throughout the majority

[2021-02-16 18:12] benyetter opened #9281 "Print Preview after Slicing"
**Application version**  4.8.0
(The version of the application this issue occurs with.)

**Platform**  Win 10
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer** HyperCube 300 and Taz 5
(Which printer was selected in Cura?)  Both

**Reproduction steps**
1. (Something you did.)  Nope
2. (Something you did next.)   Report th

[2021-02-16 18:24] jellespijker commented on #9281
Please fill in the bug template as completely as possible and provide the log files / project file.

[2021-02-16 18:25] print-it commented on #2390
Hi,
I really need your help.
I am useing Cura 4.8 (downloaded from the Ultimaker website) and have the same issue when ironing the top-layer in a concentric pattern just like in the pictures above.

@Ghostkeeper
Do I have to edit the programmcode by myself or are the changes that you mentioned already implemented in the default 4.8 Version ? (sorry for asking, I am very inexpierienced with program

[2021-02-16 18:25] TheElo commented on #7447
+1

[2021-02-16 21:43] GregValiant commented on #9238
Copy and paste these 4 lines into your start Gcode.  They go right after the G28 line.

M140 S{material_bed_temperature_layer_0} ;Start heating the bed
M104 S{material_print_temperature_layer_0} ;Start heating the hot end
M109 S{material_print_temperature_layer_0} ;wait for the hot end
M190 S{material_bed_temperature_layer_0} ;wait for the bed

But post one of the problem Gcode files here as well.

[2021-02-16 21:45] lwbsbde commented on #9280
![Screenshot (17)](https://user-images.githubusercontent.com/43827576/108125211-71250400-70a8-11eb-834d-6596032b2282.png)

[2021-02-16 23:03] romerohe commented on #6627
I've found a temporary solution changing the gantry height parameter for the printer under Preferences/Printer tab, setting a higher value than the largest piece. First piece loaded into Cura was the last printed, and I put the higher one on the top right-corner (home position in my printer is bottom-left).

[2021-02-17 01:13] djhnsn commented on #9275
That's reasonable.
I don't actually know how to make this work, but it might be something worth learning for a few reasons. I am sure there will be more foss devices in the future, hopefully I figure it out. I will definitely look into it.

Thanks for bringing it up.

[2021-02-17 05:55] RocketCityPinball commented on #9278
Thanks for the followup.  Unfortunately the files and gcode contain proprietary data, so I'll have to generate other files which behave the same.  (I've been running a number of tests over the last day or so and confirmed the failure does happen with other files too.)

I performed further troubleshooting and dug more into the gcode, and found the trigger appears to be having Supports in the model

[2021-02-17 09:53] Ghostkeeper commented on #9238
I'm also still wondering how the resulting g-code file looks that Cura generates. Could you show a snippet and/or project file? It's in the issue template, and we kind of need it to be able to reproduce your problem.

[2021-02-17 10:00] CaptainSweatpants commented on #9276
Interesting read on Reddit; but a couple things don’t apply here. First thing is this is happening on 2 different printers, suddenly at the same time. The chances two belts could get loose at the same time is not likely.

But I did confirm both belts are properly tensioned; enough for a little slack, but never loose enough to pinch and come close or touch each other. I also watched the drive pulle

[2021-02-17 12:11] GregValiant commented on #9279
I can see what you mean.  It's the way the model is assembled because fuzziness is only wanted on the outside of the grips.
Your model consists of 4 parts (5 because there are two grills).  The part "GripSmooth" is not watertight but that isn't likely a problem with combing.
It looks like within each part combing is correct.  And when traveling between parts, Cura correctly cuts across spaces to a

[2021-02-17 14:14] Teeffelen opened #9282 "[4.8.0] Error: 'application/x-ufp' - Cannot export files as UFP or print over network"
**Application version**
4.8.0

**Platform**
Operating System: Arch Linux
KDE Plasma Version: 5.20.5
KDE Frameworks Version: 5.79.0
Qt Version: 5.15.2
Kernel Version: 5.10.16-arch1-1

**Printer**
Ultimaker S5 - connected over network, updated to 6.1.1

**Reproduction steps**
1. Start Cura with `env -u DESKTOP_SESSION -u KDE_FULL_SESSION -u XDG_CURRENT_DESKTOP /bin/cura` (see #5490)
2. Load up a fil

[2021-02-17 14:35] fieldOfView commented on #9282
Yet the rest of the log will show that the UFPWriter module fails to load because of a missing dependency (libCharon). There are likely still other missing dependencies too. Please take this up with the maintainer of the official Arch repo package. It is not maintained by Ultimaker. Ultimaker only maintains and supports the AppImage for Linux.

[2021-02-17 14:53] Teeffelen commented on #9282
I see, thanks for the help!

I will close the issue now as it is not a Cura bug 😄

[2021-02-17 14:53] #9282 closed

[2021-02-17 16:06] qholmes229 opened #9283 "when i am scrolling the list of options it appears and disappears."
**4.8.0**
(The version of the application this issue occurs with.)

**windows 7**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Creality 5**
(Which printer was selected in Cura?)

**Reproduction steps**
1. Just scroll up and down
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/after i

[2021-02-17 16:13] qholmes229 opened #9284 "wont import obj file that used to work and works in other slicer"
**Application version**
4.8.0

**Platform**
win 7

**Printer**
Ender 5

**Reproduction steps**
1. try to import obj file i have used in the past. Just gives error. corrupt or missing file.
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/after images.)

**Actual results**
(What happens after the above steps have been followed.)

**Expected results**
(What

[2021-02-17 17:18] gusdudu opened #9285 "Artillery X1"
**Is your feature request related to a problem? Please describe.**
(A clear and concise description of what the problem is. Ex. I'm always frustrated when [...])

Hellow, i need a profile for Artillery X1, it is not in the Listo of printers and it´s a most recognized printer for a lot of people like me! PLEASE include it thanks!!

**Describe the solution you'd like**
(A clear and concise descripti

[2021-02-17 17:43] StuSerious commented on #9285
@gusdudu the Artillery SideWinder x1 & its little brother, the Artillery Genius have been added in Cura 4.8 with this successful PR: [#8301](https://github.com/Ultimaker/Cura/pull/8301#issue-477688531).
Maybe next time try and provide more info, take the time to look at release notes or to actually fill the report out!
I think it's fair to say *everyone* would save time, you included!
Have a nice

[2021-02-17 17:43] GregValiant commented on #9276
When I printed the model it was concentric to .01mm.  There were no oddities.  That was with Cura 4.8.
This is at a very basic level of Cura.  I'm sure if there was a problem making things round, thousands of people would be howling about it.  I understand that the issue occurs on two different printers but it does look mechanical, and I can't reproduce it.  The working diameter I assume was to be

[2021-02-17 18:00] GregValiant commented on #9274
"...the cord is good."  Is it a good phone _charging_ cable or is it a good computer _data_ cable?

[2021-02-17 18:45] mykola-corgi opened #9286 "[4.8] Changes to nozzle size didn't saved"
**Application version**
4.8

**Platform**
Windows 10 x64

**Printer**
Custom FFF Printer

**Reproduction steps**
1. Modify nozzle size for the machine in Machine Settings from 0.4 to 0.6.
2. Close menu
3. Back to the nozzle size settings

**Screenshot(s)**
![Cura_4_8_nozzle_size_bug](https://user-images.githubusercontent.com/63592057/108251944-bad12580-7160-11eb-8ce6-8d82dda03d04.gif)

**Actual re

[2021-02-17 19:52] fieldOfView commented on #9286
Try using a comma instead of a dot. This has been fixed in the next version of Cura.

[2021-02-17 22:01] daniel-starke commented on #6929
I also vote up for this feature as I am really struggling with skirt removal on my printer. Using at least two layers does really improve this situation for me using a Snapmaker 2.0 A350 with magnetic bed.

[2021-02-17 23:05] dukelazowski commented on #9111
Success. Firmware installed. Back in the printing business. When I loaded the firmware to the machine it gave a pretty good surge. Actually moved the keys on the enclosure door. Probably the reason the firmware failed in the first place. Thanks for your assistance.
I did purchase an arduino to show my students how it works and tinkercad has an online component. How difficult is it to use the ardui

[2021-02-17 23:16] GregValiant opened #9287 "Mesh Modifier moves in 3mf file"
Models are added to Cura.  A bed size mesh modifier is placed on the Cura build plate.  The project file is saved.
When the project file is opened the mesh modifier moves -25 in the Y.  When the file is again saved and re-opened the mesh modifer moves an additional -25 in the Y.  This happens every time the file is saved and re-opened.

**Application version**
4.8

**Platform**
Win10 Home in compa

[2021-02-17 23:31] GregValiant commented on #9272
I tried to chase this problem down because it occurred on numerous Creality machines with TFT displays and 4.2.X boards.  The gcode commands that send text to the display are ignored by certain printers.  In particular, M0, M1 and M117 are ignored.  If you were to try adjusting the "M0" to "M0 S180" then you might get 3 minutes to make the switch (if it works).  I can't test it because M0 works on

[2021-02-18 08:05] fvrmr commented on #9283
Hi @qholmes229 thank you for your report.
I am not able to reproduce this. Could you add your log file? You can find your log file here: `C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log`

[2021-02-18 08:08] fvrmr commented on #9284
Hi @qholmes229 thank you again for your report.
Could you share your obj file? And maybe add screenshots of the errors you are getting.

[2021-02-18 08:52] mykola-corgi commented on #9286
Thanks, comma works like a charm

[2021-02-18 08:52] #9286 closed

[2021-02-18 09:58] BagelOrb commented on #8044
I am currently unable to perform a print because I am not able to print a brim per extruder and always either object is curling up from the build plate. I therefore decided to try to implement this feature.

[2021-02-18 10:42] BagelOrb commented on #8044
I propose the following settings changes:
- Enable raft
- Raft extruder
- Enable brim
- Brim priority

Replacing the old settings:
- adhesion type
- adhesion extruder
- skirt line count

Skirt line count is superfluous; it's functionality is better represented with Skirt/Brim minimal length.

Instead of setting the adhesion type to none, the skirt/brim minimal length should be set to 0. A skirt wi

[2021-02-18 13:51] userosos commented on #9252
I think it happens every 5-10 mouse clicks.

[2021-02-18 14:10] fvrmr commented on #9285
Hi @gusdudu please check out the PR that @StuSerious is suggesting.

Also good to know the Cura team doesn't maintain profiles from other printers (only Ultimaker)
But we are very thankful to have a great community who maintain and submit those profiles.
I will close this issue for now, but if you have questions, feel free to ask them here.

[2021-02-18 14:10] #9285 closed

[2021-02-18 14:42] fvrmr commented on #9287
Hi @GregValiant thank you for your report.
I am able to reproduce this. But it doesn't happen when I try this on an Ultimaker 3.

I will discuss this with the team. Keep you posted.

[2021-02-18 14:58] fvrmr commented on #9278
Hi @RocketCityPinball yeah other files that has this problem to are also very useful. Because I tried these steps and the M0 is still showing in my gcode. So a project file and gcode would help me trying to reproduce this.

[2021-02-18 16:03] BagelOrb commented on #8044
Whether there is a raft should be a global setting determined by the materials, so it should have a `"resolve": "any(extruderValues('enable_raft'))"`

The brim is set per object / per material and goes around only those objects.
If either material wants a raft then all brim settings should be ignored, because raft trumps brim.

The skirt is set per material and goes around the whole first layer.If

[2021-02-18 16:34] Ghostkeeper commented on #9265
The assertion in question tests that the collision volume is not empty on that layer, basically, after having offset the mesh with the collision radius. Perhaps it would be colliding with the model if that collision volume should not be empty?

[2021-02-18 17:37] GregValiant commented on #9287
I think it's that specific file.  When creating my own file with the same conditions the modifier doesn't move.  When changing to an S3, S5, 3, CR-10, Ender, etc., saving, and re-opening that specific file, the modifier moves.  @curasurf on the Ultimaker forum created that file.  Maybe he will respond here and shed some light.

[2021-02-18 18:48] qholmes229 commented on #9283
Here is the log file.

Curiously i was just going to make some pictures of it with the information
gone. Only when i scroll down. not up. But now if i wait a sec it actually
comes back. So not as much of a deal. just a bit annoying.

Thanks

Q

On Thu, Feb 18, 2021 at 3:06 AM Fenne <notifications@github.com> wrote:

[2021-02-18 19:05] clfaye commented on #7893
I would also like to add this feature.  It was possible in Cura 2.5 (and I still use Cura 2.5 for this purpose).  I build lighting sculpture and I need a strong conventionally printed base and a 1 layer thick top.

[2021-02-18 19:35] qholmes229 commented on #9284
Hmm i tried to add the file but it was too big? i was using email. i will try here.

Attached.. i think.. the error message i get and it opens in the Creality slicer and the file.

Thanks

Q

![image](https://user-images.githubusercontent.com/79214376/108410856-ee11c400-71f5-11eb-9a76-57a5cbf42fe5.png)
![image](https://user-images.githubusercontent.com/79214376/108410918-fff36700-71f5-11eb-9fd9-f6

[2021-02-18 20:02] deBugger- opened #9290 "crash on save project (i18n)"
to reproduce
- create new project (i18n is english)
- add any change
- save project (works fine)
goto preferences -> Configure Cura -> General Language -> chose Deutsch > close
restart cura

- Create new project i18n ( Note: language is german) ( Help to navigate: Datei -> Neues Project  )
- add any change
- save Project ( Help to navigate: Datei -> Project speichern ...)
-> failt in a crash
see @

[2021-02-18 22:25] peterp194 opened #9291 "Cura Arachne. Program closes when ejecting the SD card."
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-18 22:48] marcusletric commented on #5265
Same issue on my desktop:
Ryzen5 1600
Asus ROG strix B350-F
Geforce GTX 1050Ti

But no issue on my laptop:
HP Envy x360
Ryzen 5 4500U
AMD Radeon

@spiritedfang did the DEP config help with the issue?

[2021-02-19 00:17] tlhintoq opened #9292 "Support brim limited to limited brim width"
**Application version**
Arachnid beta

**Platform**
Windows 64

**Printer**
Hictop D3Hero

**Reproduction steps**
Turn no supports
Turn on brim
Turn on support brim
Set regular brim to 0 or 1 mm
Set support brim to 10mm
{because model is fine, but supports need help adhering}

**Screenshot(s)**
(Image showing the problem, perhaps before/after images.)
![image](https://user-images.githubusercontent

[2021-02-19 01:26] PoiMechanic opened #9293 "Z Seam Alignment doesn"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-19 02:00] PoiMechanic opened #9294 "Z Seam Alignment doesn't work in modifiers"
**Application version**
4.8

**Platform**
Macbbok Pro 16". Catalina. AMD PRO 5600m

**Printer**
Prusa Mk3s
**Reproduction steps**
Single model with part of it having a modifier which has z seam set to Front.
Main menu option z seam set to random.

**Screenshot(s)**
<img width="1453" alt="Screen Shot 2021-02-18 at 6 51 38 PM" src="https://user-images.githubusercontent.com/73767173/108446003-a18caf8

[2021-02-19 04:50] spiritedfang commented on #5265
I'm not able to test that. I threw my ASUS motherboard in the trash where it belongs.

[2021-02-19 08:05] fieldOfView commented on #9290
The issue has been fixed for the next release of Cura: https://github.com/Ultimaker/Cura/pull/9105. Until then, use the AppImage. This is due to a change in Python 3.9. Cura 4.8 is not yet compatible with Python 3.9.

[2021-02-19 09:28] lbe001 opened #9295 "layer issue"
**Application version**
4.8

**Platform**
Win10

**Printer**
Artillery X1

**Reproduction steps**
Always

**Screenshot(s)**
(Image showing the problem, perhaps before/after images.)
![cura_issue](https://user-images.githubusercontent.com/54121917/108484861-967a6380-729c-11eb-95c5-687248ccb829.PNG)

**Actual results**
Pb offset the layers

**Log file**
(See https://github.com/Ultimaker/Cura#logging

[2021-02-19 10:35] BagelOrb commented on #8044
According to one material expert (Tom), brim > raft > skirt. If one material asks for a raft and the other for a brim, then it's better to apply brims for each material then a raft.

But a material should be able to specify whether it would like a brim in case its preference for a raft is overruled. The material profiles should get
[code]
And the resolve function of `enable_raft` should be `all(ex

[2021-02-19 11:03] fvrmr commented on #9291
Hi @peterp194 could you please fill in the form. Describe your reproduction steps, OS and add a log file.
You can find your log file here on Windows: `C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log`
OSx: `$USER/Library/Application Support/cura/<Cura version>/cura.log`
Linux/Ubuntu: `$USER/.local/share/cura/<Cura version>/cura.log`

[2021-02-19 11:04] Ghostkeeper commented on #1747
There's a line distance setting and an extruder setting, but indeed no setting to change the pattern for support on the first layer.

[2021-02-19 11:07] fvrmr commented on #9290
Hi @deBugger- please try the AppImange @fieldOfView is suggesting.
I will close this issue, because that will solve your problem.
But please reach out if you have questions or need more help.

[2021-02-19 11:07] #9290 closed

[2021-02-19 11:43] Asterchades commented on #9292
I believe the Support Brim is for a brim that goes _under_ the support structure, not out to the sides. I would agree with you, though, that it doesn't really make a heap of sense to only do that without a more specifically worded distinction.

[2021-02-19 12:20] tlhintoq commented on #9292
That doesn't make sense or follow any of the other naming conventions.
"Under" is a 'raft'
"Brim" starts at the edge of an object and goes outward.  Basically a 'brim' is a 'skirt' with an offset of zero.

[2021-02-19 12:25] Ghostkeeper commented on #9268
When running this through an engine compiled in debug mode, you get an assertion failure because one of the extruder plans is created but empty. This is also reflected in the warnings it gives when running in release mode:

[code]

Looking a bit further into the result, searching through the g-code for `T\d`, we find the following sequence:

* The start of the print heats up all nozzles including

[2021-02-19 12:28] fvrmr commented on #9283
Hi @qholmes229 I can't see your log file, because you replied on a email. Please add your log file in an comment on Github.

[2021-02-19 12:33] fvrmr commented on #9280
Hi @lwbsbde thank you for the screenshot.
I will discuss it with the team if the maximum speed for flow doesn't affect the infill speed.
Keep you posted.

[2021-02-19 12:59] Ghostkeeper commented on #8751
In #9272 we've also put a workaround, basically still adding a pause at height, but then using a search and replace to replace all `M0` strings with a delay command `G4 S20`. That would cause it to wait for 20 seconds instead of the dysfunctional pause command.

[2021-02-19 13:07] fvrmr commented on #9294
Hi @PoiMechanic thank you for your report.
I will discuss this with the team.
But I think that the problem is that the option Z Seam Alignment shouldn't be visible at all in modifier settings.
Keep you posted.

[2021-02-19 13:07] #9293 closed

[2021-02-19 13:10] Ghostkeeper commented on #8513
Oops! Probably a copy-paste mistake, but I can't find the original one which I thought this was a duplicate of either indeed.

Moving configuration between different operating systems is indeed not supported. The problem there is that these different operating systems have different requirements as to where the different types of data get stored. On Windows, we store the cache in `%USER%\AppData\l

[2021-02-19 13:16] Ghostkeeper commented on #8475
opengl32.dll should be part of your Windows installation. I'm not sure if we can include it with Cura because it is different with various versions of Windows (even within patches of Windows 10) and I don't know if it is binary-compatible. I'm also not sure what the legal implications would be of offering up Windows components for download.

Don't know how it could ever be missing from your Window

[2021-02-19 13:17] Ghostkeeper commented on #9252
Maybe it is the autosave? The symptoms are like that.

[2021-02-19 13:38] fvrmr commented on #9292
Hi @tlhintoq thank you for your report.
What @Asterchades is suggesting is correct. This is expected behaviour of Cura.
See the explanation of the `enable support brim` settings:
![Screenshot (64)](https://user-images.githubusercontent.com/77000924/108511343-0fd77d80-72c0-11eb-80d6-e5fe80002648.png)

Hope this makes sense to you.

[2021-02-19 14:08] fvrmr commented on #9295
Hi @lbe001 could you share your project file? So I try to reproduce this issue.

[2021-02-19 14:13] #8513 closed

[2021-02-19 14:13] fvrmr commented on #9287
@GregValiant I tried it on a UM3 with the same file. And now @rburema and I can reproduce this also on a UM3. And it also happens when you resize the modifier. Thought that would cause the problem.

I looked into if it is file specific. And it looks like that that is the case. Because I couldn't reproduce this with my own files, as I see you tried to.
When I delete the modifier and add a new modif

[2021-02-19 14:24] qholmes229 commented on #9283
Sorry here you go.

Q
[cura.log](https://github.com/Ultimaker/Cura/files/6010586/cura.log)

[2021-02-19 14:26] qholmes229 commented on #9283
Hey.. here is a picture of the missing info. if i dont drag the mouse over the details window it stays gone.

![image](https://user-images.githubusercontent.com/79214376/108516641-79da2d80-7294-11eb-877b-a8e8a685de7b.png)

Q

[2021-02-19 14:30] userosos commented on #9252
The autosave in Cura?

[2021-02-19 14:32] fvrmr commented on #9284
Hi @qholmes229 thank you for sharing. I can't import your model either.
Does it happen to other obj files to? Because I tried it myself with another obj file and that works fine.

And could your share your log files? You can find your log file here: `C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log`

[2021-02-19 14:34] fieldOfView commented on #9252
Autosave saves preferences and setting changes to your configuration folder.

[2021-02-19 14:50] compatibilizer commented on #1747
What if we kept the pattern, but try to print it with the least number of retractions? It works well for the infills.

[2021-02-19 15:02] fieldOfView commented on #9284
It seems the loading of this model broke in this commit: https://github.com/Ultimaker/Uranium/commit/34d04ddf0b600b17aa299382258deae9854e1227

It also seems the normals of this model are quite broken. But Cura should still handle the model.

[2021-02-19 15:04] zerox1212 commented on #1747
@compatibilizer I would prefer to have the option to just turn off the grid. It wastes time and filament, especially when I'm printing big stuff like on CR10 Max.

[2021-02-19 15:10] userosos commented on #9252
In the properties of the folder did not find autosaves.

[2021-02-19 15:24] compatibilizer commented on #1747
I find it useful for those odd supports, when you need to support a small feature at a high Z layer (ie. very long and thin support structure)

[2021-02-19 16:09] fieldOfView commented on #9221
The SidebarGUI plugin will soon let you undock the settings panel into a separate window. Please help testing this feature by downloading this [development snapshot](https://storage.googleapis.com/ultimaker-cura-packages/v1/packages/SidebarGUIPlugin/PPQrrZsMNX9X4R2o62qpBhDRIZukamKCv-Z25AUmMSog/SidebarGUIPlugin-v7.0.0-2021-02-19T16%3A00%3A42Z.curapackage?Expires=1929110446&GoogleAccessId=cura-packa

[2021-02-19 16:12] louis1lal commented on #8955
@diorcety I think what they don't understand or maybe they refuse to make the effort to understand, is that, you can have profiles for your printers or your print settings, but opening a project should not replace those profiles. The project should open with all parameters based at the level of the project file, not global profiles files. Everything should not be global. It's a basic notion in sof

[2021-02-19 16:28] qholmes229 commented on #9284
I am sure its an ugly model.. i did not make it. and just hacked it to make some fun brackets for my son. But it originally worked. And this time i used Creality slicer to save as STL and opened in Creality slicer.

Thanks

Q

[2021-02-19 16:32] clfaye commented on #7893
More accurately, a "vase start level" feature wasn't available in Cura 2.5.  However, in Cura 2.5 you were allowed to "spiralize outer contour" as a per model setting.  So it was easy to have a solid model on the bottom and put a spiralized model directly on top.  After Cura 2.5 this is no longer permitted.  To get around this I either use Cura 2.5 (which is not ideal because it is so old) or I sl

[2021-02-19 16:43] diorcety commented on #8955
For me this is like if in your Word document they embedded your Word preferences and only allow you to overwrite or to create a new profile when you open it. If you thing at a layered configuration properties you should be able to replace a layer by another one (an existing one for my needs). That can be tricky but when I saw there is already this behavior when changing material I don't understand

[2021-02-19 16:56] jaimemoramora commented on #8475
Thanks for clarifying that opengl32.dll is part of Windows. Certainly now knowing that fact it makes sense to leave it out of the installer. As far as why some Windows installs are missing that library is another subject on its own.

[2021-02-19 16:58] clfaye commented on #7893
Hey - we can do this ourselves!  If you go into the Cura program folder, resources, definitions and find "fdmprinter.def.json" - you can edit that file.  Find "Spiralize Outer Contour" and change "settable_per_mesh" to true.  Also change "smooth_spiralized_contours" "settable_per_mesh" to true.  Then both of these will show up as "per model settings" the next time you open Cura.  I haven't done a

[2021-02-19 17:12] Tinkot opened #9296 "[Ironing] move nozzle to edge after finishing"
after ironing, the nozzle retracts on the ironed area. resulting in a bad spot at the surface.
it would be better if the nozzle could move out of the ironed area before retracting.

You can replicate this by slicing benchy with Concentric and line space 0.3

[2021-02-19 18:27] Tinkot opened #9297 "[Ironing] Option to choose or filter layers to be ironed. (not only top layer)"
When printing more complex models (benchy for example) it starts to iron every possible area. Even the tiniest spots at the slope of benchy. There already exists an option to select only top layer, but to select a specific layer (or filter it out using some kind of option) would be a huge improvement.

[2021-02-19 19:24] adelalani opened #9298 "Infill Befor Wall, seems it not working when set it it it does not have any efferct in the preview and in printing"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-19 21:34] clfaye commented on #7893
Nope - doesn't work as expected.  It looks like it has spiralized in the slicer, but it really just creates a single walled print.  It doesn't smoothly rise the way that it is supposed to.  It creates a series of single layers so that the seam is clearly visible.  You can find the seam and the travel lines in the slicer preview.  So, I'm back to stitching gCode files together.

[2021-02-19 22:25] Liger0 commented on #9261
That would be useful specifying wattage on the printer profile and a global setting with your KWh

[2021-02-19 22:46] whosawhatsis commented on #8912
Is there a reference for that syntax anywhere? I've been trying to set that up in my custom machine definition (the JSON file). I already have a few conditional settings in there (based on checkbox settings like magic_spiralize), and ones that are functions of another setting, but the correct syntax for a conditional based on a setting like adhesion_type in the JSON is eluding me.

[2021-02-19 22:56] Julius971 commented on #8983
Gradual infill would't solve all the problems. And it would't it cause more iregularities to the infill as a single needed structure/web/whatever to support inner layers. And even with gradual infill there's no guarantee that everything is properly supported.

[2021-02-20 04:12] firefighter331 opened #9299 "Touch screen support in Windows 10"
It would be nice to have the ability to navigate the main screen (viewing the model) using a touch screen, rather than trying to right click and hope it works with the touch pad. Some lower end touch pads don't allow dragging while simultaneously right-clicking.

This would be necessary for some devices that don't have a built-in touch pad, like the Microsoft Surface line of tablets, and would be

[2021-02-20 04:23] RFBomb commented on #9218
I understand that this is likely quite a complex problem, so I'm not expecting a fix any time soon, especially any change to the algorithm has the possibility of adversely affecting stuff working properly at the moment.

That being said, I was under the impression that the 'Union Overlapping Volumes' toggle inside of 'Mesh Fixes' is what this was meant to solve. I was playing around trying to see

[2021-02-20 04:30] firefighter331 commented on #9274
Shouldn't the "Expected results" come before the "_Actual results_?" It makes more sense to me that way. What should've happened, then what did happen.

Most people wouldn't say "_My phone did not charge_ when it was supposed to charge." Instead, they'd say "My phone was supposed to charge _but didn't_."

Just a suggestion that would take about 2 minutes to fix. I've been paying **wayyyy** too muc

[2021-02-20 04:38] firefighter331 commented on #9261
That may even be something that could be made specific to Ultimaker printers by internally measuring the power usage and reporting it to the user via Cura. The user would obviously need to define the cost of electricity, but technology can measure it and do the calculations based on that.

I just don't see it being very accurate unless there's something actively monitoring power usage. There are a

[2021-02-20 07:39] shimondoodkin opened #9300 "slowly raise temperature based on mass"
<img src="https://support.ultimaker.com/hc/article_attachments/360009279100/How_to_fix_warping_Warping_model.jpg" width="300">

**Is your feature request related to a problem? Please describe.**
a large print gets separated from the bed and wraps at the edges.

although there is a pid for temperature it is in the middle. so center heat is maintained but edges get cold.

from my best understanding,

[2021-02-20 08:53] fieldOfView commented on #9291
Duplicate of #9057

[2021-02-20 10:35] mah115 opened #9301 "Dual extruder fan speed setting crossed-wired"
**Application version**
Cura 4.8.0
**Platform**
Windows 10

**Printer**
WEEDO X40 (custom profile)

**Reproduction steps**
1. Slice the file

**Screenshot(s)**
Extruder Settings:
![image](https://user-images.githubusercontent.com/2501918/108592593-6f1aa980-7323-11eb-8f61-b0ff04dbc905.png)
Cooling Settings:
![image](https://user-images.githubusercontent.com/2501918/108592608-88235a80-7323-11eb-8c7b

[2021-02-20 11:29] ldiegos opened #9302 "Material management. What happen on cura 4.8? its not working with several printers"
**Application version**
Cura 4.8

**Platform**
Windows 10

**Printer**
Creality ender 3 pro
Geeetech A10M

**Reproduction steps**
1. Create a material on ender 3 pro and give all the stuff, temperature, retractions, and so on.
2. Change to geeetech A10M, configure the material to print also on it.
3. Return to ender 3, all the configuration has gone and replaced with the A10M.

**Screenshot(s)**
C

[2021-02-20 14:41] smartavionics commented on #9301
The issue is being triggered by the fact that only one extruder is used on each of layers 2 and 3. It was trying to reuse an extruder plan initialised for the other extruder's fan settings but it should have been creating a new extruder plan for the new extruder. The following patch fixes this but has not been tested with any other multi-extruder prints or configurations so YMMV...
[code]

[2021-02-20 14:55] smartavionics commented on #9301
Perhaps this is sufficient...
[code]

[2021-02-20 15:30] smartavionics commented on #9301
In fact, the test isn't required at all because it's already been tested at the top of the function so it gets even simpler...
[code]

[2021-02-20 17:48] mah115 commented on #9301
Should I reopen this ticket under CuraEngine repo?  Or maybe you should do it and add a pull request?  (I'm not a programmer, I'm still trying to figure out how git works...)

[2021-02-20 17:50] smartavionics commented on #9301
No, leave it as is, the Cura devs will see it here OK.

[2021-02-20 20:35] tommylux commented on #5106
Some more explanation required and background regarding the work-around for modifying the fdmprinter.def.json.

1. How is this file associated with printers.: Would modifying this file affect all printers or only new printers created going forward? This directory appears to have all sorts of settings for different printers. If you create a new printer, which printer to do you select?
3. retraction

[2021-02-21 01:10] tlhintoq commented on #9292
You can call it "expected" - but that doesn't make it 'right'.
The very definition of brim is "around an object".  Is the 'brim' for the model (not support) considered 'under but not around'?
If even the support brim extends 10mm around the support, is that not actually "around" and not "under"?

A *raft* is under
A *brim" is around

And look at the use-case here.  The model is fine without a brim

[2021-02-21 08:26] atsju opened #9304 "Thin wall problems"
**Application version**
Cura 4.8.0

**Platform**
Win10-64

**Printer**
No preset. Manually defined CTC byzer frankenstein
0.4mm nozzle, Marlin 2.0, 1.75mm filament

**Reproduction steps**
1. Slice these 0.4mm single wall model (50mm diameter)
[circle.STL.txt](https://github.com/Ultimaker/Cura/files/6017361/circle.STL.txt)
2. The defect will appear at print

**Screenshot(s)**
![image](https://user-

[2021-02-21 09:06] NilsRo commented on #8938
@Ghostkeeper Any news if basic click support will be added (no special support, only that I can click on a menu)?

[2021-02-21 11:38] dnasir opened #9305 "[4.8.0] Randomly lose the ability to interact with all models in Prepare mode"
**Application version**
4.8.0

**Platform**
MacOS 11.2.1

**Printer**
Ender 3

**Reproduction steps**
1. Add a model
2. Add support blocker
3. Adjust support blocker size/position
4. Select first model

**Screenshot(s)**
(Image showing the problem, perhaps before/after images.)

**Actual results**
Unable to select/interact with all currently loaded models.

**Expected results**
Should still be abl

[2021-02-21 13:01] mulder999 opened #9306 "[4.8.0] Per model infill override affects other model"
**Application version**
4.8.0

**Platform**
Win 10x64 v1909

**Printer**
AnyCubic i3 Mega S

**Reproduction steps**
1. Load a 3MF file with at least 2 parts
2. Ungroup model, you now have 2 parts: A and B
3. Choose 15% infill ratio with cubic subdivision (global setting)
4. Set 100% infill ratio for part B (per model setting)
5. Slice

**Screenshot(s)**
![image](https://user-images.githubuserconte

[2021-02-21 13:26] smartavionics commented on #9306
A workaround is to use a different infill pattern for part B, e.g. lines.

[2021-02-21 13:29] smartavionics commented on #9306
As far as I can tell, this bug is specific to the cubic-subdivision infill pattern as you can use other patterns OK.

[2021-02-21 13:43] smartavionics commented on #9306
Yes, I looked at the code and it appears that it can only support a single density of cubic-subdivision infill so all objects that use that infill pattern must use the same density.

[2021-02-21 14:47] mulder999 commented on #9306
Indeed, the workaround is working, for eg cubic infill works as intended. Only cubic-subdivision seems affected.

[2021-02-21 20:42] lbe001 commented on #9295
Hi here it is, with CURA 4.7.1 I don't have this issue
Thanks
[anneau2.zip](https://github.com/Ultimaker/Cura/files/6018439/anneau2.zip)

[2021-02-21 21:45] tommylux commented on #5106
I tell you what might be a suitable work-around. Simply enter a retraction amount multiplied by 60 in the Retraction Distance field. When M207 is sent, your modified value * 60 will be inserted in the M207 command.

[2021-02-21 21:45] sjoerdtimmer opened #9308 "Object intersects with the bed after rotating"
**Application version**
4.8.0

**Printer**
Ender 3 Pro

**Reproduction steps**
Open a large object like this one: https://www.thingiverse.com/thing:2446648
Move and rotate around until it fits the build area.
It is possible that after rotating the model intersects with the buildplate.
If this is only 1 or 2 mm it is very easy to miss that part of the model is simply not printed.
No warning or erro

[2021-02-22 00:32] gr3333 commented on #9221
Thanks, finally got a few minutes to have a look.
This is **much** cleaner and works well for me.

[2021-02-22 01:52] gr3333 commented on #9000
I too have had this issue, and looked for a way to save 'my settings' options and never found it (under main menu options).
Would it be possible to provide a 'save' button or a hint to look under the pop up?

[2021-02-22 03:19] nicwilson58 opened #9309 "Part of complex model do not get created"
**Application version**
(The version of the application this issue occurs with.)
4.8.0

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)
Windows 10 latest version and patches.
**Printer**
(Which printer was selected in Cura?)
CR10S Pro
**Reproduction steps**
1.  Load model
2.  project included below
3.  std settings,  o

[2021-02-22 04:51] BryceBeagle commented on #9216
Hey guys, I noticed that you mentioned the PyQt5-stubs release issue, so I thought I'd stop by and let you know we (finally) made [a new release](https://pypi.org/project/PyQt5-stubs/5.15.2.0/). Hopefully the project stays up-to-date going forward :+1:. The old maintainer relinquished the project and we've been (slowly) transitioning it to new management.

[2021-02-22 06:55] time4this commented on #8892
What finally worked for me on 4.8 was to click on the **Learn More** of the last intro slide (before the crash)  and change the setting to not share info with Cura. Changing the setting and accepting the change allowed the installation to completed. Finally. Changing to a single monitor/powering off/disconnecting, etc.

Good luck!

[2021-02-22 08:14] fvrmr commented on #9305
Hi @dnasir thank you for your report.
We are aware that Cura is not working correctly on BigSur.
You can read about it more here: https://github.com/Ultimaker/Cura/issues/8745 and on [our website](https://support.ultimaker.com/hc/en-us/articles/360018141480-Ultimaker-Cura-won-t-run-on-my-new-Macbook).

We hope to have a solution soon.
I will close this issue, but feel free if you have questions to

[2021-02-22 08:14] #9305 closed

[2021-02-22 09:00] Asterchades commented on #9309
If you've already excluded the possibility of the model have incorrect normals (which the "repaired" part of the name suggests, but it's worth double-checking) then odds are those parts of the model are just too thin. They look like they'd be at most one extrusion wide, but there's a very good chance they're not even that.

The Arachne alpha is designed to accommodate for things like this. Obvious

[2021-02-22 11:00] fvrmr commented on #9296
Hi @Tinkot thank you for your feature request.
Could you please fill in the form correctly. See the topics you need to fill in here below.

That helps us to understand your feature request and look into it.

[2021-02-22 11:01] fvrmr commented on #9297
Hi @Tinkot thank you again for your feature request.
Also for this feature request I need more information. So if you could fill in the form that would help us a lot.
Thank you in advance!

[2021-02-22 11:08] fvrmr commented on #9298
Hi @adelalani thank you for your report.
Could you please fill in the form, a title is not enough for us to look into your bug.
And I also need a project file and log file to see if I can reproduce this.
Thank you in advance.

[2021-02-22 11:18] fvrmr commented on #9280
Hi @lwbsbde I have to defer this issue. Because it is correct that the `maximum speed for flow equalization` doesn't affect the `infill speed`.
Hope you understand. Please reach out if you have more questions.

[2021-02-22 11:29] fyrcraeft opened #9310 "[4.8.0] Tree support not fully generated at overhang"
**Application version**
4.8.0

**Platform**
Windows

**Printer**
Probably all

**Reproduction steps**
1. Add model with overhang
2. Activate Tree Support (reducing Support Overhang Angle to 5 to make it more visible)
3. Slice

**Screenshot(s)**
![image](https://user-images.githubusercontent.com/68505200/108701483-528b9680-7508-11eb-9e0f-18d83d29ed98.png)
![image](https://user-images.githubusercont

[2021-02-22 11:50] evertoaster opened #9312 "4.8 is missing an MSI version on the downloads."
I work at a school and we want to deploy cura to all our classroom pcs and until recently this was easily done with group policy deploying the cura msi.  4.8 doesn't have a msi just an exe.

Please can you create an msi version for download.

[2021-02-22 12:22] fvrmr commented on #9294
Hi @PoiMechanic I have discussed it with the team.
But I have to defer this, because if you use a cutting mesh, it will use a add the z seam at the front and the rest of the model random.

Please let me know if that works for you.

[2021-02-22 12:30] fvrmr commented on #9268
Hi @martijnschouten we have discussed your issue with the team.
But we have to defer this issue, because it is not our priority list right now. Most of our users have maximum 2 print cores instead of 5 print cores what you have.
Hope you understand. If you have more question feel free to reach out.

[2021-02-22 13:00] fvrmr commented on #9299
Hi @firefighter331 thank you for your feature request.
This is a duplicate of https://github.com/Ultimaker/Cura/issues/2515
We have a ticket on our back log for this.
That's why I will close this issue. Feel free to continue the tread there.

[2021-02-22 13:00] #9299 closed

[2021-02-22 13:14] pmos69 commented on #8663
Hi @Ghostkeeper,

Sorry for the confusion. I don't think I was clear.
I tested with Arachne engine alpha (99.0.0 I think).

Btw, I perfecly understand that you can't determine what is the "front" side of the printer

Here's the problem: With the rotation I see in Arachne the "problem" is actually worse than before.

This is an example stl in 4.8.0 in top view:
![image](https://user-images.githubus

[2021-02-22 13:17] fvrmr commented on #9301
Hi @mah115 thank you for your bug report and thank you @smartavionics for looking into it and creating a patch.
I will discuss this with the team. Keep you posted!

[2021-02-22 13:27] fvrmr commented on #9306
Hi @mulder999 thank your for your bug report.
Thank you @smartavionics for suggesting the work around and that this works for you. But I will discus this with the team.
Keep you posted.

[2021-02-22 14:28] fvrmr commented on #9308
Hi @sjoerdtimmer thank you for your bug report.
Is in your preferences the setting `automatically drop models to the build plate` disabled? If it is, try enabling this setting.

But if you look closely at your model, you can see that a part of your model is blue. And that's the 'warning' you get.
And yes in some cases you want this option. That's why you won't get a flashy warning message.

Please

[2021-02-22 14:53] sjoerdtimmer commented on #9308
Automatic drop-to-buildplate plate is enabled.
An "automatic **lift**-to-buildplate" option would indeed be another viable solution.

Before you classify this as "it's a feature, not a bug, I would like to argue that the use case for this feature is very rare (and a sign of bad design) and the annoyance of making a print with 5 missing layers from the bottom is much greater if it hapens.

Let me a

[2021-02-22 14:58] fvrmr commented on #9304
Hi @atsju thank you for your bug report.
I will discus this with the team. Keep you posted.

[2021-02-22 15:04] sjoerdtimmer commented on #9308
Further experimentation shows that the "auto-lift-to-buildplate" already happens after rotating but only if the model fits inside the build volume at that time.

In my case the model was too large and imported to the side of the buildarea altogether. I rotated it (ending up just a few layers below the buildplate) and moved it onto the buildplate.

So the true bug in this case is that the "lift-to-

[2021-02-22 15:08] fvrmr commented on #9312
Hi @evertoaster thank you for your feature request.
There is indeed no msi for 4.8. The reason for this is because we have now Ultimaker Essentials.
If you want a msi you have to sign up for Essentials. You can read more about Essentials here: https://ultimaker.com/software/ultimaker-essentials

That's why I will label this with won't do/fix. Hope you understand.

[2021-02-22 15:17] sjoerdtimmer opened #9314 "Buildplate intersection not clearly marked"
**Application version**
Cura 4.8.0

**Reproduction steps**
Open stl
Move stl down into the buildplate partially

As noted in #9308 there is at least one way to unintentionally move objects into the buildplate without noticing; making this less of a contrived situation than it may appear.

**Actual results**
part of the model that is intersecting the buildplate is shown in a darker shade of blue, b

[2021-02-22 15:35] fvrmr commented on #9300
Hi @shimondoodkin thank you for your feature request.
I really like the idea you have. I will discus this with the team. Keep you posted.

And for next time, please fill in our form correctly, that helps us to understand feature request better.

[2021-02-22 15:46] fvrmr commented on #9302
Hi @ldiegos thank you for your report.
I can reproduce this. I will discus this with the team.
Keep you posted!

[2021-02-22 18:52] shimondoodkin commented on #9300
thank you for liking the idea.

a possible build up for the idea for the nozzle too, probably insignificant though:

a hypothesis: maybe the model also takes heat from the nozzle. but it is only a hypothesis, should be checked.

last time I printed a 50g petg box of 2mm shell, with 3x7x15hmm sticks at top and bottom.  I noticed stress in the print. the sticks at top were more brittle and broken mo

[2021-02-22 18:56] PoiMechanic commented on #9294
I have tried this many times but it never worked but now I'm realizing it was always on 4.7. I just verified that it doesn't work on 4.7 but I just tried this on 4.8 and it is working. Thank you so much and sorry to waste your time.

[2021-02-22 20:50] ldiegos commented on #9302
Thank you so much!!!
i returned to to 4.7.1 while this is in study by the team.
I like very much the filament management and this is one of the things that Cura surpasses other slicers and i don't want to  miss it.

Keep doing Cura the best slicer program!
Luis.

[2021-02-22 22:37] iFrostizz commented on #8030
Hi, I see that the feature is displayed but not actually usable. I would personally really need it and I think that the process is much better than adjusting the steps/mm in order to compensate the error. Because the dimensions would be off for any other filament that has another shrinkage ratio.

[2021-02-23 06:03] evertoaster commented on #9312
Lame

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Fenne <notifications@github.com>
Sent: Monday, February 22, 2021 3:08:39 PM
To: Ultimaker/Cura <Cura@noreply.github.com>
Cc: evertoaster <evertoaster@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Ultimaker/Cura] 4.8 is missing an MSI version on the downloads. (#9312)

Hi @evertoaster<h

[2021-02-23 07:15] luotinen opened #9315 "Optimize in-plane orientation of prints"
The in-plane orientation of the print will influence the print time. It is not intuitive which print direction will minimize the print time while maximizing the print quality. I suggest a separate button or function "Optimize XY orientation". It would simply loop through the in-plane angles and make note of the estimated print time (and any quality factors) and then pick the optimal direction. Thi

[2021-02-23 08:23] #9312 closed

[2021-02-23 08:24] fvrmr commented on #9315
Hi @luotinen thank you for your feature request.
Could you please fill in the form that helps us understand your feature request better.
Thank you in advance.

[2021-02-23 08:30] fvrmr commented on #9295
Hi @lbe001 thank you for your file. You attached a stl and not a project file.
But this is the result I get in 4.8. So no missing layer.

![Screenshot (66)](https://user-images.githubusercontent.com/77000924/108818354-870b5b00-75b9-11eb-94cf-440ebfe62433.png)

Could you add your project file (file - save project) a project file contains all your settings. So probably also the missing layer.

[2021-02-23 08:52] StuSerious commented on #8680
@Ghostkeeper Hey there! Sorry for the ping!

I have another issue similar to this one, the triggering conditions seem to be the same as described above (tho I'm not 100% sure), so I want to ask you first if I have to open a separate Issue Report.

I'm getting this weird extrusion even when extruder 1 [T0 in my case] is _disabled_, take a look:
![Screenshot](https://user-images.githubusercontent.co

[2021-02-23 08:54] luotinen commented on #9315
Sure!

**Is your feature request related to a problem? Please describe.**
The in-plane orientation of the print will influence the print time. It is not intuitive which print direction will minimize the print time while maximizing the print quality.

**Describe the solution you'd like**
I suggest a separate button or function "Optimize XY orientation". It would simply loop through the in-plane ang

[2021-02-23 10:41] fvrmr commented on #9310
Hi @fyrcraeft thank you for your report.
This is not a bug, but expected behaviour.

Because the Z becomes more important when the angle is getting less steep.
And that's why you will see when you change the Support X/Y Distance the support is printed.

Please let me know if this makes sense to you.

[2021-02-23 10:42] Niassamond opened #9316 "Cura not start to slicing the object."
Im trying to slice a litophane, it has 150mm height by 100mm width, whenever i click slice the program appears as slicing, but the program itself never starts. It doesnt even try to slice the file it just hangs in there waiting saying its slicing forever. i waited for 10 minutes and nothing. My PC is Windows 10, Nvidia 1050Ti, 16GB Ram. Any help is appreciated. i Already sliced 3 day prints sucess

[2021-02-23 10:46] fvrmr commented on #9314
Hi @sjoerdtimmer thank you for your report. I will change this to a feature request and then discuss this with the team.
Keep you posted.

[2021-02-23 10:53] #9244 closed

[2021-02-23 10:54] fvrmr commented on #9300
Hi @shimondoodkin thanks for the reply.
But I have to reject this issue. I have discussed it with the team and we agreed that this is more depending on the printer settings.
And adding this feature would also be very difficult to understand for other users and probably not many users will use this.

A few work around you can use to avoid warping are:
- Better adhesion, something like tape or glue.

[2021-02-23 10:55] StuSerious commented on #9316
@Niassamond could you actually fill out the form or at the very least provide a Project file so people can understand the issue better and try to replicate the Issue?
Thanks! <3

[2021-02-23 11:01] Niassamond commented on #9316
Hello, sorry i never used github and im a bit noob at this, how do i post the STL file? and also where is the form file?

[2021-02-23 11:18] StuSerious commented on #9315
To understand better.. what you're suggesting is that lines that are oriented like this:
![image](https://user-images.githubusercontent.com/53015230/108835147-59311100-75cf-11eb-9548-1e04e843b5e3.png)
Be oriented like this:
![image](https://user-images.githubusercontent.com/53015230/108835093-43bbe700-75cf-11eb-974a-9056f395f23f.png)
Or are you suggesting that the model itself be re-oriented?
___

[2021-02-23 11:24] StuSerious commented on #9316
No worries!
And the contributing guidelines here: https://github.com/Ultimaker/Cura/blob/master/contributing.md
You can find the template here: https://github.com/Ultimaker/Cura/blob/master/.github/ISSUE_TEMPLATE/bug-report.md
To attach a files that aren't supported by GH you could just .zip them up or use a service like WeTransfer!

[2021-02-23 11:46] fvrmr commented on #9304
Hi @atsju I have discussed it with the team.
And this is because the circle has an inner and an outer wall. That's why it passes 2 times.
With our Arachne release this is not an issue anymore, read [here](https://github.com/Ultimaker/Cura/releases/tag/Arachne_engine_alpha) more about Arachne.

As you can see in our screenshot below this the circle is only printed in one pass.
![Screenshot (69)](ht

[2021-02-23 12:01] fvrmr commented on #9292
Hi @tlhintoq I totally understand you that this is a little weird

Let me explain how the support brim works.
One brim line consists of a polygon. And when you are printing with a `support brim` the changes are that the support brim will interrupt your regular brim. Because both brims are a polygon, you can't have a brim that's interrupted.
We are aware of this, but for now it is not a priority to

[2021-02-23 12:10] #9300 closed

[2021-02-23 12:45] fvrmr commented on #9301
Hi @mah115
I have discussed it with the team, and I was wondering if your project file is the same as you used for the gcode that is in your zip. Because when I generated gcode from your project file the M106 isn't in it at all. Tried it on our master and 4.8.
[CFFFP_coupon-v1.gcode.zip](https://github.com/Ultimaker/Cura/files/6028908/CFFFP_coupon-v1.gcode.zip)

We need to reproduce this first bef

[2021-02-23 12:52] fvrmr commented on #9308
Hi @sjoerdtimmer thanks for your replies.
I understand what is happening. When I drag your file in to Cura and rotate the object 105 degrees and then I click Lay flat and it doesn't go into the build plate.

But I agree that sometime this is happening.
Although this is really not a bug, it is designed like this. I will discuss your other report with the team.

And _automatic lift-to-buildplate_ co

[2021-02-23 12:52] #9308 closed

[2021-02-23 12:55] fvrmr commented on #9306
Hi @mulder999 I have discussed it with the team. Cubic subdivision isn't used by that many users, so it is not a priority for us right now. And because there is a work around I will defer this issue for now.
Hope you understand.

[2021-02-23 13:50] luotinen commented on #9315
Actually, there is no computational cost if it would only be triggered by the user when requested. For example, right-click the model and select "Optimize XY orientation".

On my model, I am getting a significant time saving, but I tried some others and the benefit is smaller then.

I also spotted there is an Auto Orientation extension by Nallath but is does not seem to consider XY-rotation.

[2021-02-23 14:08] mranvick commented on #3065
This feature would also make sense to print gas- (or at least water-) tight containers, and I would love to see it implemented as well ! Any update on this?

[2021-02-23 14:13] StuSerious commented on #9261
I think this is just overcomplicating a simple problem: have a rough idea of how much a print is going to cost you in the power bills.

I don't know about the other parts of the world, but in the EU (where Ultimaker is from) all machines by spec have to have an average power consumption metric (you can read more about it [here](https://europa.eu/youreurope/business/product-requirements/labels-mark

[2021-02-23 14:15] fvrmr commented on #9302
Hi @ldiegos I tried it also on 4.7.1 and it also happens there. Can you show me how you do it in 4.7.1.
It is probably related to the printer and not something we don't maintain. Are you sure that is related to the material settings and not the profile settings. Because in the profile settings you can set settings per printer and this won't change because it is related to the printer.

Hope this m

[2021-02-23 14:48] sjoerdtimmer commented on #9308
Before I open a feature request, can I just ask what the rationale is behind the difference in behaviour between rotations inside and outside build area?

[2021-02-23 15:42] fvrmr commented on #9309
Hi @nicwilson58 thank you for your report. I looked into your model and I really believe it has something to do with your model. Also what @Asterchades is suggesting is correct. Your walls are probably to thin.

I sliced your model in Arachne and there the walls are printed. (I cut off a part to slice it faster)
![Screenshot (73)](https://user-images.githubusercontent.com/77000924/108867465-82fd2e

[2021-02-23 16:26] fvrmr commented on #9308
Yeah off course. The difference between rotating in the inside and outside build volume is that inside the build volume the object snaps to the build plate while rotating and outside this is not relevant, so it won't snap to a build plate because there is no build plate at all.

[2021-02-23 17:00] mah115 commented on #9301
I'm not sure why it's not working for you, I downloaded the original zip file and tried it again and the results are the same.  Here's exactly what I'm doing:
https://youtu.be/eG72BTgG0gw

My computer specs:
![image](https://user-images.githubusercontent.com/2501918/108878919-938db480-75b5-11eb-9b0b-8ad8bf269a28.png)

[2021-02-23 17:04] #9257 closed

[2021-02-23 17:08] ldiegos commented on #9302
Hi,
I migrate the materials profiles since version 4.3/4.5, i don't remember, but this has been working since then, maybe at that moment i change something or i import a material from other site, but, this was working successfully.

Lets see, i have all of these materials in cura 4.7.1:
![image](https://user-images.githubusercontent.com/29803600/108879217-54855080-7601-11eb-96d8-0dff8de47878.png)

[2021-02-23 17:19] atsju commented on #9304
To be completely honest, I was about to definitively change Slicer software but I did some test with this and other pieces and the new engine is just working fine with thin walls now. You can close issue. Thank you.

[2021-02-23 17:42] ldiegos commented on #9302
Despite that is is an issue or not...

I'm wondering if you could take a minute to thing about what i proposed.

Add to the materials configuration files, the current configuration section for the users printers, so when i create a new material(cloned) or brand new the file <material>.xml.fdm_material automatically will be filled with your printer model and name.

Something like;
 <machine>

[2021-02-23 21:19] debie3366 opened #9317 "Pause at layer or height not working. will pause for only 5 seconds then restart itself"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-23 21:39] tastyratz opened #9318 "Suggestion: "Z hop when retracted" linked sub option "Only Zhop after Initial Bottom Layers""
**Is your feature request related to a problem? Please describe.**
When using Z hop when retracted and gooey stringy filaments like PETG an immediate zhop after extrusion can cause the filament to pull away from the build plate.

**Describe the solution you'd like**
Z hop when retracted can be a great way to prevent hitting the model, but, risk of collision happens higher in the print after things

[2021-02-23 22:16] wallacecme opened #9319 "the profiles disappear with my second ultimaker, doesn't matter how many times i reinstall the program, not installed is the warning"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-23 22:17] wallacecme commented on #9319
operating with big sur operating system and s5 no 2

[2021-02-24 00:00] andr001967 opened #9320 "the labels for the icons on the left have ceased to operate, I have uninstalled and deketed the remaining folders and re-installed but this has not fixed the issue"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-24 00:03] andr001967 opened #9321 "my view has become corrupted, the build plate angle has changed to something I am sure would not be intentional"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-24 00:11] andr001967 commented on #9321
[DxDiag.txt](https://github.com/Ultimaker/Cura/files/6032472/DxDiag.txt)

[2021-02-24 00:13] andr001967 commented on #9321
[DxDiag.txt](https://github.com/Ultimaker/Cura/files/6032474/DxDiag.txt)

[2021-02-24 09:50] Soureaver666 opened #9322 "Cura won't slice when assigning stls to Extruder 2 and 3 and disabling Extruder 1 (T0)"
**Application version**
Cura 4.8.0

**Platform**
Windows 10 64bit 1909

**Printer**
Custom FFF Printer with 3 tools

**Reproduction steps**
1. set support and buildplate adhesion extruder to extruder 2
2. disable extruder 1
3. load both bi-color benchy .stl files from https://www.thingiverse.com/thing:763622 into Cura
4. assign extruder 2 to one .stl (should be already predefined here) and extrude

[2021-02-24 10:21] Ghostkeeper commented on #9280
The Flow equalisation only affects the gap filling at the moment.

[2021-02-24 10:40] fyrcraeft commented on #9310
Hi @fvrmr,
thanks for your answer.
To be honest, I don't think it makes sense to have missing support when it's needed. But when this is how Cura is handling it, then it is like it is. I don't really want to start a discussion about it.

[2021-02-24 10:40] #9310 closed

[2021-02-24 11:03] Ghostkeeper commented on #9237
We keep track of these issues, to be sure. But we have to defer like 75% of them to be more realistic about what we can spend time on. Often they get implemented aside with something else years down the line. Sometimes the priority changes and we'll build it anyway. Sometimes the need for it just disappears entirely, e.g. if we were to integrate the bridging routine with normal overhang.

In this

[2021-02-24 12:30] printingotb opened #9323 "Zigzag support pattern leaves some pieces unsupported on one side"
**Application version**
4.8

**Printer**
Custom fff

**Reproduction steps**
1. Download my project and change the Support join Distance to for example 1mm or 3mm

**Screenshot(s)**
![1](https://user-images.githubusercontent.com/32172100/109000695-55bb8980-76a4-11eb-919b-a13c0bb1264f.PNG)
![3mm](https://user-images.githubusercontent.com/32172100/109000701-57854d00-76a4-11eb-97e8-aaf48aae5c87.PNG)

[2021-02-24 12:41] Ghostkeeper commented on #9276
Maybe you changed acceleration settings when it started happening?

If Cura instructs the printer to make round movements, but the printer doesn't make round movements, I tend to put blame on the printer.

[2021-02-24 12:42] printingotb opened #9324 "Exclude the extra skin walls from "Small feature speed""
**Is your feature request related to a problem? Please describe.**
Enabling small feature speed is great for printing small holes and threads and minis but a side-effect is that expanded skin is reduced in speed as well, increasing printing time dramatically for certain geometries.

**Describe the solution you'd like**
Make the setting only affect inner and outer walls.

**Affected users and/or pr

[2021-02-24 13:46] Ghostkeeper commented on #9075
Fixed here: https://github.com/Ultimaker/CuraEngine/pull/1415

[2021-02-24 13:46] #9075 closed

[2021-02-24 13:46] GregValiant commented on #9317
If you don't fill out the form there is essentially zero information to go on.  If this is happening on a  Creality printer with a 4.2.X mainboard, it's a Creality firmware problem.

[2021-02-24 14:14] wohltat commented on #1721
There is a manual reload but no "auto reload" in linux. Or am i missing something?
Would love to see that feature in cura.

[2021-02-24 14:26] Ghostkeeper commented on #9279
As far as I can tell, this issue arises from two requirements we have on the print order:

* All the support is printed before model.
* All parts of one model are printed before it starts with any parts from other models. I.e. parts are grouped by the model they belong to.

Since all the support is printed before the model, it needs to travel from one piece of support to another, which has some lo

[2021-02-24 14:47] Ghostkeeper commented on #8784
Possible similar report, but on Windows: https://github.com/Ultimaker/Cura/issues/9281

[2021-02-24 14:47] debie3366 commented on #9317
Hi sorry about that, I have a creality 3d pro. the firmware is Marlin 1.01 the motherboard is 4.2.2 
Kind regards Debbie

-----Original Message-----
From: GregValiant <notifications@github.com>
To: Ultimaker/Cura <Cura@noreply.github.com>
CC: debie3366 <debbie233332@aol.com>; Author <author@noreply.github.com>
Sent: Wed, 24 Feb 2021 13:47
Subject: Re: [Ultimaker/Cura] Pause at layer or height not

[2021-02-24 14:51] Ghostkeeper commented on #2390
Those changes were made to 3.3, so the issue should still be fixed in 4.8. When I load in a simple model, enable ironing and set the top/bottom pattern and ironing pattern both to Concentric, it seems to correctly print the pattern from the inside out, both for skin and for ironing:

![image](https://user-images.githubusercontent.com/2448634/109018162-2b73c700-76b8-11eb-807a-5d445d617c71.png)

Do

[2021-02-24 14:58] Ghostkeeper commented on #9283
Duplicate of https://github.com/Ultimaker/Cura/issues/8236 .

I had made a recording of the issue: http://dulek.net/work/setting_list_glitchy.webm

[2021-02-24 14:58] #9283 closed

[2021-02-24 15:06] Ghostkeeper commented on #9111
Using the Arduino IDE to flash the Ultimaker board with Ultimaker firmware is easy! Works out of the box.

But flashing the Ultimaker firmware on a different Arduino board is probably not going to work well. It needs the stepper drivers and in the right positions and such. It can probably be made to work with a lot of fiddling but it certainly won't be easy. Not something I would feel up to the ta

[2021-02-24 15:45] leoheck opened #9325 "AppImage is missing .desktop integration."
AppImage is missing .desktop integration.

[2021-02-24 17:06] rburema commented on #6929
I see that these possible workarounds have not been mentioned yet, so I'll do it now:
 - The TabAntiWarping plugin, available through the Marketplace button. (Despite what the name 'Marketplace' suggests, these plugins are very often free and open, and do usually not require login. This one is!)
 - Setting the 'Brim Distance' setting higher than 0.0mm (which is the default) can help when the brim

[2021-02-24 17:23] jellespijker commented on #9111
Great to hear that you managed to install the firmware and are back in business again. As @Ghostkeeper mentioned flashing the firmware of Ultimaker on normal Arduino will not work well.

But you can use the regular Arduino to flash the Ultimainboard. You might look into using an Arduino as ISP https://www.arduino.cc/en/Tutorial/BuiltInExamples/ArduinoISP

[2021-02-24 18:46] Quinten2023 opened #9326 "Printer is stretching X axis"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-24 19:14] jellespijker commented on #9326
Please fill in the bug report and attach log files and projects

[2021-02-24 22:06] lbe001 commented on #9295
Hi, here is the project file

[anneau2.zip](https://github.com/Ultimaker/Cura/files/6039129/anneau2.zip)

[2021-02-25 07:00] rburema commented on #9284
Thanks for finding that @fieldOfView !
Hm, that commit (message) says:

But that _should_ be possible by leaving the middle blank, like, in fact, in the users' file:
`f 1//1 2//2 3//3 `
(note the double forward slashes here!)

[2021-02-25 07:00] mah115 commented on #9301
Wouldn't it be even worse if the part cooling is selected but M106 isn't in the gcode?  Either way it's a bug...

[2021-02-25 07:58] fvrmr commented on #9319
Hi @wallacecme could you please fill in the form and add a log file and project file.
Thank you in advance.

[2021-02-25 07:59] thamudi commented on #5970
This solution fixed it for me on manjaro 5.9, KDE 5.20,QT 5.15

[2021-02-25 07:59] fvrmr commented on #9320
Hi @andr001967 could you please fill in the form and add a log file and project file.
Thank you in advance.

[2021-02-25 08:00] fvrmr commented on #9321
Hi @andr001967 could you also fill in this form. And add you log file and some screenshots.
Thank you in advance.

[2021-02-25 08:37] monarrezcr opened #9327 "Profiles disappear"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. Opened Cura
2. Imported profile
3. When making material change, profile changes to 'Not Supported'
4. This has b

[2021-02-25 08:44] fvrmr commented on #9327
Hi @monarrezcr could please give us more information, like your version, OS, screenshots and a log file would be helpful.
Thank you in advance.

[2021-02-25 08:48] #9259 closed

[2021-02-25 10:17] fvrmr commented on #9323
Hi @printingotb thank your for your report.
I can't reproduce this because your project file doesn't contain the printer and profile settings. It's just a 3mf file.
Could you please upload a new project file?

[2021-02-25 10:55] fvrmr commented on #9324
Hi @printingotb thank you for your feature request.
I will discuss this with the team. Keep you posted!

[2021-02-25 11:07] Ghostkeeper commented on #9287
I inspected that 3MF file but the document is really nothing special. There's two completely separate models. They each have a transformation, e.g. moving them to the middle of the build plate. The actual model seems to be mirrored in the X and Z direction. The mesh modifier is only rotated.

Creating a new scene, we weren't able to reproduce this yet, not even when trying to get similar transform

[2021-02-25 11:41] Ghostkeeper commented on #8044
Currently Cura has the order of raft > brim > skirt > none. So if any material asks for a raft, it's going to get it.

[2021-02-25 12:23] pljda opened #9329 "cannot rotate object under MacOS BigSur 11.2.1 - impossible to select the circle to turn the object"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-25 12:23] fvrmr commented on #9322
Hi @Soureaver666 thank you for your bug report.
I can reproduce this to. Will discuss this with the team. Keep you posted.

[2021-02-25 12:29] fvrmr commented on #9329
Hi @pljda thank you for your report.
This is a duplicate of #8745 we hope to fix this soon. That's why I will close this issue.
You can read on [our website](https://support.ultimaker.com/hc/en-us/articles/360018141480-Ultimaker-Cura-won-t-run-on-my-new-Macbook) more about this.

And for next time, please fill in the form instead of just a title, without any information we can't really help you.

[2021-02-25 12:29] #9329 closed

[2021-02-25 12:39] Ghostkeeper commented on #7893
Looking at the code, the walls generation looks into the mesh settings for the spiralize setting (so it makes sense that you get only one wall and 5 in the base), but auxiliary routines look at the global settings for the spiralize setting, making this a global-only setting without modifications to CuraEngine. A couple of things that request the setting in a global context are:

* Determining whic

[2021-02-25 12:41] #9291 closed

[2021-02-25 12:42] pljda commented on #9329
Hi, thanks for your comment.
I have relaunched the app and can select the item & rotate.
Strange !
Anyway - youra pp is great - thanks

[2021-02-25 12:44] fvrmr commented on #9317
Hi @debie3366 as @GregValiant mentioned this is probably a firmware issue.
You can read more here: https://github.com/Ultimaker/Cura/issues/9272#issuecomment-780923297
Where @GregValiant is suggesting a fix. You could try that.

Please let us know if that works for you in that thread, so I can close this one.

[2021-02-25 12:44] #9317 closed

[2021-02-25 12:45] Ghostkeeper commented on #9292
Duplicate of https://github.com/Ultimaker/Cura/issues/3824.

[2021-02-25 12:45] #9292 closed

[2021-02-25 12:50] #9294 closed

[2021-02-25 13:34] GregValiant commented on #9287
Since it is file specific I'll take the liberty of closing the issue.  That is the only file I have seen with the problem as well.

[2021-02-25 13:34] GregValiant commented on #9287
Closed.

[2021-02-25 13:34] #9287 closed

[2021-02-25 15:56] fvrmr commented on #9318
Hi @tastyratz thank you for your feature request. I will discuss this with the team. Keep you posted.

[2021-02-25 19:12] JJ460 opened #9330 "print preview stopped showing"
**Application version**
(The version of the application this issue occurs with.)

**Platform**
(Information about the operating system the issue occurs on. Include at least the operating system and maybe GPU.)

**Printer**
(Which printer was selected in Cura?)

**Reproduction steps**
1. (Something you did.)
2. (Something you did next.)

**Screenshot(s)**
(Image showing the problem, perhaps before/

[2021-02-25 19:15] JJ460 commented on #9330
cura 4.8,  I changed the initial line width and the print preview display changed to all grey and would not execute the print preview.

[2021-02-26 00:25] Cecchellone commented on #7893
I didn't really deep dived in the code, so maybe what I'm going to say it's meaningless, but it's worth a shot saying...
Could it maybe be simpler to set it up as a per-object setting **only if the printing sequence is "one at a time"?**
I don't even know if it's a conceivable option.

[2021-02-26 01:05] andrewh109 opened #9331 "ender 3 pro sometimes coperates with cura"

[2021-02-26 02:31] GregValiant commented on #9331
Thanks for the update.  I have one also.  It works quite well.

[2021-02-26 03:07] whosawhatsis opened #9332 ""Outer wall inset" not limited to outer wall"
**Application version**
4.8

**Platform**
MacOS X

**Printer**
Any

**Reproduction steps**
1. Set "Outer Wall Inset" to a value larger than zero (a value of 1 or more makes the problem particularly obvious).

**Screenshot(s)**
<img width="813" alt="Screen Shot 2021-02-25 at 19 03 52" src="https://user-images.githubusercontent.com/319404/109249272-3acc4080-779c-11eb-99e3-eacbc1c5ca9f.png">

**Actua

[2021-02-26 03:12] whosawhatsis commented on #9332
Actually, setting larger values, the problem seems to be more subtle. I'm not getting the overlap I expect, and my tolerances are off when I use a small value. Using a large value as shown above does inset the outer wall past the inner walls as expected, but it is also cutting off thin areas of the model...

[2021-02-26 03:24] whosawhatsis commented on #9332
Well, the issue isn't what it looked like. Not sure what's going on, but I'll close this one and maybe open a new one if I can figure out what's actually going wrong here...

[2021-02-26 03:24] #9332 closed

[2021-02-26 03:37] whosawhatsis opened #9333 "Outer wall offset insets everything when using only one perimeter"
**Application version**
4.8

**Platform**
MacOS X

**Printer**
Any (Ultimaker 3 is shown)

**Reproduction steps**
1. Set "Wall line count" to 1
2. Set "Outer Wall Offset" to a positive value (values greater than one make the problem more obvious).

**Screenshot(s)**
<img width="797" alt="Screen Shot 2021-02-25 at 19 27 31" src="https://user-images.githubusercontent.com/319404/109251278-08244700-77

[2021-02-26 03:47] whosawhatsis commented on #9333
For context, what I'm trying to do is print my skin with a single perimeter, and two perimeters around my infill, with the second one provided by the "Extra Infill Wall Count" setting, but I want an overlap between the inner (extra infill) wall and the outer wall. None of the available inset/overlap settings will make these two walls overlap one another.

[2021-02-26 04:14] bkarr123 commented on #9107
Is there an update on Cura being supported with the Apple M1 chip in the new macbook?

[2021-02-26 04:23] rifqisetiawaan commented on #6893
Hi, currently use cura and i found this slicer very powerful. but i encountered a problem which is my laptop's wifi network just suddenly disconnected immediatly when i used cura

Application version
4.8.0

Platform
Windows 10

Printer
Creality ender 3

Reproduction steps

Just start Cura software => Issue
Just close Cura software => Wifi is stable
Project file
Nothing

[2021-02-26 06:54] jellespijker commented on #9325
Hi we seriously need additional information here. Please fill in the bug report.

[2021-02-26 08:21] jellespijker commented on #9325
Assuming your are filling issue is with 4.8 then it's now fixed with this PR #9229

[2021-02-26 08:39] nallath commented on #9107
Not yet.

[2021-02-26 08:51] fvrmr commented on #9304
Hi @atsju nice to hear. I will close this issue!

[2021-02-26 08:51] #9304 closed

[2021-02-26 10:23] fvrmr commented on #9333
Hi @whosawhatsis thank you for your bug report. This is fixed by our Arachne release.
![image (4)](https://user-images.githubusercontent.com/77000924/109288126-c12c6500-7824-11eb-8e87-0c318b9c9f97.png)

You can read more about Arachne [here](https://github.com/Ultimaker/Cura/releases/tag/Arachne_engine_alpha).
I will close this issue and marked as solved/fixed. But please reach out if you have que

[2021-02-26 10:23] #9333 closed

[2021-02-26 10:48] fvrmr commented on #9295
Hi @lbe001 thank you for your project file.

This is happening because of the `hole horizontal expansion`. If you look with the top view at your model you can see that this is happening at layer 28 and layer 49 and between these layers there's is no horizontal hole, because of a 'gap'.

Layer 48:
![Screenshot (85)](https://user-images.githubusercontent.com/77000924/109290269-aefff600-7827-11eb-97f

[2021-02-26 10:48] #9295 closed

[2021-02-26 10:49] leoheck commented on #9325
I am sorry.

The bug report is for any Cura <= 4.8
This app is not being installed as the other appimages I find on the internet.
It does not create a `.desktop, file for instance.

[AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher) does not recognize it too, to move it to a known folder. This Appimage is like an incomplete job.

So, the fix is not for the 4.8, is it?
I downloaded

[2021-02-26 10:55] fvrmr commented on #9314
Hi @sjoerdtimmer I have discussed it with the team. And I have to reject this feature request. Because it is hard to implement this. If we want this we need rebuild to the entire graphical interface.
Hope you understand.

[2021-02-26 10:55] #9314 closed

[2021-02-26 11:25] fvrmr commented on #9324
We have discussed it and this feature request is on our backlog now.
Developers see CURA-8052.

[2021-02-26 11:34] printingotb commented on #9324
Thanks a lot 🙂

[2021-02-26 12:05] fvrmr commented on #9318
Hi @tastyratz I have discussed it with the team and we have decided to defer this.
The reason why we defer this is because we believe that the print speed would be minimal. And with a cutting mesh you can change the Z hop to a layer you want.
What you basically ask is layer settings and that would be a big change in our architecture.

Hope you understand.
Please reach out if you have questions.

[2021-02-26 12:29] printingotb commented on #9323
Oops, here it is:
[Support join distance.zip](https://github.com/Ultimaker/Cura/files/6049608/Support.join.distance.zip)

[2021-02-26 12:45] jarrard commented on #5970
Ditto

[2021-02-26 13:38] #9224 closed

[2021-02-26 13:44] fvrmr commented on #9322
We have discussed it with the team. And can also reproduce this with a dual extrusion, we've created a ticket on our backlog.
Developers see CURA-8054

[2021-02-26 14:16] Ghostkeeper commented on #9284
Normals are a bit weird in that model, but thanks to Ultimaker/Uranium#672 it now loads fine from the OBJ.
![image](https://user-images.githubusercontent.com/2448634/109311060-98689780-7845-11eb-9da7-9c60721ad533.png)

[2021-02-26 14:17] #9284 closed

[2021-02-26 14:21] fvrmr commented on #9301
I did exactly the same but still M106 isn't showing. I tried it also with an other object with the same settings and printer and then it is showing one extruder speed settings.
[code]

Yes but if it's a bug, but we need to reproduce first to solve it.

Does it also happen with other files? If so could you share one of those.

[2021-02-26 14:43] #9192 closed

[2021-02-26 15:01] Ghostkeeper commented on #9221
Works well on Linux too by itself. Except that I can click on the X button of the window to close the separate panel, and then cannot get the settings list back any more. Pressing the X button of the interface works fine, but pressing the X button of the Gnome window itself doesn't seem to register that the window is closed so I can't get the settings back.

[2021-02-26 15:11] fieldOfView commented on #9221
On windows the toolpanel titlebar does not have a close button, like I intended it, so this issue does not exist. I'll see what I can do about this.

[2021-02-26 15:18] marhub commented on #6604
This issue still persists in cura 4.8.0

![image](https://user-images.githubusercontent.com/2960432/109318519-2e082500-784e-11eb-88fc-a257bfe8f81e.png)

[2021-02-26 15:25] smartavionics commented on #9301
You realise that the bug will also cause the wrong retraction settings to be used as well as the wrong fan settings?

[2021-02-26 15:25] Ghostkeeper commented on #8955
It's not that we don't try to understand. I know that you don't want it to override some things (custom profiles) and that you want other things to still override (settings not saved to a profile). And I can understand why: You want your Cura configuration to stay on the latest version of those profiles while still using one-off modifications from the project file. I was trying to explain that the

[2021-02-26 15:33] Ghostkeeper commented on #7893
If the print sequence is one at a time, you can still print multiple objects at the same time by grouping them, so it's never really going to be a fix for routines that govern things in between models (like the ordering of polygons, or choosing which part gets spiralised). And you can even just have one model that splits into two pieces, like a Y shape standing upright.

[2021-02-26 16:19] mah115 commented on #9301
What I was trying to say is that if the cooling fan option is selected on both extruders, and M106 doesn't even show up in the gcode, then you've reproduced a certain bug--maybe not the same bug, but something worth investigating?

I've made a new file:
[coupon2.zip](https://github.com/Ultimaker/Cura/files/6050872/coupon2.zip)
What I did was put in the coupon.STL object and raised it off the platf

[2021-02-26 16:20] motuhin opened #9334 "Importing Infill Patern of Honeycomb/Hexagonal Strucrure"
**Main message:**
I contacted Ultimaker North American support center to help me import the honeycomb/hexagonal structure as the infill pattern using Cura software. They recommended that I submit a request here in GitHub, and so here I am.
I am aware that the current list of patterns includes Tri-hexagonal structures. However, I am looking for a Hexagonal/Honeycomb without the triangle for creatin

[2021-02-26 16:26] smartavionics commented on #9334
For a Cura variant that provides a honeycomb infill pattern see https://github.com/smartavionics/Cura/releases

[2021-02-26 19:45] ManyBaby opened #9336 "Layer view not showing up on Apple M1"
Everything is in the video

https://www.loom.com/share/dd94d8d6ef4d45778c036b5fea98c75b

[2021-02-26 19:51] rburema commented on #9075
@Ghostkeeper  I don't think that is the same issue. That offset occurred consistently, not in the middle of a wall. You're thinking of this fix: https://github.com/Ultimaker/CuraEngine/pull/1405

Still closed though, of course :-)

[2021-02-26 22:03] Ghostkeeper commented on #9331
Nice to hear that your printer cooperates. Wouldn't consider that a bug though!

[2021-02-26 22:03] #9331 closed

[2021-02-26 22:08] Ghostkeeper commented on #9334
We already have an open feature request for a honeycomb pattern here: https://github.com/Ultimaker/Cura/issues/2069
Please refer to that issue instead.

As for "importing" a custom pattern, what you can do is generate a 3D model consisting of the shapes you like (as loose triangles/planes) and then setting that model to be printed in Surface Mode. It's not ideal with the planning of lines, but it'

[2021-02-26 22:08] #9334 closed

[2021-02-27 00:25] loggyboy opened #9338 "Change angle of first layer after supporty"
My first layer after a support structure is a fixed angle (appears to be about 10 degrees). I cannot find any setting to adjust the angle, or pattern that this initial layer is. General shell settings do not affect this one layer.
Layer 72, shows last layer of support. (concentric)

![image](https://user-images.githubusercontent.com/46853692/109368666-c378d880-7891-11eb-9fed-3edebddefff4.png)

Lay

[2021-02-27 04:04] CCS86 opened #9339 "[4.8] With 1 or 2 Perimeters and 0 infill, Errant Travel Move"
4.8.0 / Win 10 x64

When making a print with 1 or 2 perimeter walls and 0% infill, Cura is inserting a small travel move inwards. With 3 walls, the behavior stops:

![image](https://user-images.githubusercontent.com/12439543/109374937-83f4c100-787e-11eb-9218-db707f9d3ee0.png)

![image](https://user-images.githubusercontent.com/12439543/109374940-88b97500-787e-11eb-8a05-009ae764b65c.png)

![image](

[2021-02-27 06:11] Asterchades commented on #9339
Dark blue is a travel without retraction. I would be suspecting that's an Outer Wall Wipe, which would appear to be set to a (in my opinion excessive) level roughly equal to twice the wall width.

The behaviour also isn't stopping with three walls. It's just not moving far enough to cross over the full width of the wall, but it's quite clearly still performing the same movement.

[2021-02-27 11:43] jornada812 opened #9341 "Slicing errors in version 4.8"
version 4.6.2
![2021-02-27_14-33-00](https://user-images.githubusercontent.com/32206704/109386003-c4008600-7908-11eb-9d98-7bae606c7708.png)

version 4.8 with imported profile from 4.6
![2021-02-27_14-38-59](https://user-images.githubusercontent.com/32206704/109386110-9a942a00-7909-11eb-80b3-59608efe27b3.png)

version 4.8
![2021-02-27_14-41-07](https://user-images.githubusercontent.com/32206704/109

[2021-02-27 11:51] jornada812 opened #9342 "Nozzle diameter change is not saved in the printer profile"
![2021-02-27_14-45-35](https://user-images.githubusercontent.com/32206704/109386267-a0d6d600-790a-11eb-8344-621c7847dd42.png)

and the default config file (in my case predator_extruder_0+%232_settings.inst.cfg) does not contain a parameter machine_nozzle_size,  i have to add it manually

[2021-02-27 12:52] RafaeleValanten opened #9343 "Conical support leaves towers all the way down"
**Application version**
4.8

**Platform**
Windows 10

**Printer**
Cr10s5 creality

**Reproduction steps**
1. Recently i uploaded one stl , and in the preview i saw a strange supports line made its way to the corner of the model.
![Screenshot_2021-02-27-20-04-41-703_com google android apps photos](https://user-images.githubusercontent.com/79719957/109392706-122c7e00-7937-11eb-8647-904589e749b2.jpg)

[2021-02-27 13:30] CCS86 commented on #9339
The alternate theory sounds correct. Since outer wall wipe distance was set to zero.

Here is the behavior with a 1mm wipe which pushes the position of this inwards dive:
![image](https://user-images.githubusercontent.com/12439543/109388560-86cad280-78cd-11eb-9757-942f19d89bf2.png)
![image](https://user-images.githubusercontent.com/12439543/109388564-8c281d00-78cd-11eb-9232-9adbcd6ee116.png)
![ima

[2021-02-27 15:06] jellespijker commented on #9336
We still need log files.

[2021-02-27 15:13] jellespijker commented on #9325
You're correct, this fix is not for 4.8.
We can't fix versions that we already released. This should however be fixed for the next version 4.9
I will therefor close this ticket.

[2021-02-27 15:13] #9325 closed

[2021-02-27 15:20] jellespijker commented on #9343
You have peeked my curiosity. I would love to see that weird support behaviour. Does it dance, time travel or maybe it turns into cheese?

Please fill in the issue template and provide log files and project files.

[2021-02-27 16:42] CCS86 commented on #9339
Finally found a setting that changes the behavior: combing mode

Off:
![image](https://user-images.githubusercontent.com/12439543/109393594-547a9e80-78e8-11eb-9ef2-92471b394f41.png)

All:
![image](https://user-images.githubusercontent.com/12439543/109393607-5e040680-78e8-11eb-9674-ab7629ed7cfa.png)

Not in Skin:
![image](https://user-images.githubusercontent.com/12439543/109393616-665c4180-78e8-11

[2021-02-27 17:00] Asterchades commented on #9339
Ah, combing! Would never have even guessed that it could be at fault here, so nicely deduced.

If I'm honest, I've had it turned off for a long time now. PETG in particular (which I almost exclusively print these days) shows noticeable quality loss with it in use - and situations like this could be part of why. But that's starting to get off topic, so I'll leave it there and hope that the devs can

[2021-02-27 17:14] CCS86 commented on #9339
I tried a LOT of settings before that!

I have gone back and forth on combing. With PLA, using combing can have a pretty dramatic reduction in retracted moves, which on a bowden printer can save you a bunch of time and improve quality.

Hopefully, the devs can dig in and see why combing is adding these moves. Maybe it will lead to a quality increase when using combing. But, this might just be an e

[2021-02-27 19:45] GregValiant commented on #9341
Can you post the STL here?  I don't install software just to download a file.

[2021-02-27 20:01] CCS86 opened #9344 "Coasting Inconsistent with 1 Wall"
4.8 / Win10 x64

When trying to make a hollow cylinder with one wall, coasting is only triggered on some of the layers:

![image](https://user-images.githubusercontent.com/12439543/109398728-2c009d80-7904-11eb-8113-e80408d9292e.png)

Add a second wall and it triggers on every layer:

![image](https://user-images.githubusercontent.com/12439543/109398733-33c04200-7904-11eb-9582-dc1d02f1693e.png)

[U

[2021-02-27 20:06] jornada812 commented on #9341
What software do you not want to install? These files are available for saving by link. any whim of yours

[2021-02-27 20:13] GregValiant commented on #9341
That was my bad.  There was a popup over the download button and all I noticed was "Install yanex".

[2021-02-27 20:31] jornada812 commented on #9341
I close the task. This defect occurs when the function of "Coasting" is active, which for some reason is enabled by default in the experimental section

[2021-02-27 20:32] #9341 closed

[2021-02-27 20:38] GregValiant commented on #9341
Did you have Coasting enabled?  If you have the preview set to show extrusions there is no extruding during a coast so there are no lines there.  In the profile though, coasting was off.  When I turned it on, the preview looked like your screen shots.

[2021-02-27 20:42] jornada812 commented on #9341
in profile 4.6 the coasting was turned off, I never used it. But after importing to 4.8 for some reason it's included. And in all profiles by default in version 4.8 it is also enabled for some reason.

[2021-02-28 03:14] sea-clocktower commented on #8586
What if I've built from standard latest cura-build-environment image?
Today was trying to build from cura-build repo by running the shell script

scripts/python3.5/linux/build.sh

I did not provide the environment variable so docker image has been pulled from the default location:
CURA_BUILD_ENV_DOCKER_IMAGE="${CURA_BUILD_ENV_DOCKER_IMAGE:-ultimaker/cura-build-environment:centos-latest}"

After it

[2021-02-28 03:34] AbeFM commented on #8574
It's certainly making it hard to get a representative temperature tower. I keep forgetting it's not working.

If it can't be fixed, can you put in a notice that it doesn't work with z-hop? It took me a while to figure out this problem today.

[2021-02-28 05:26] bradsoto opened #9345 "Parabolic Infill and Top/Bottom Pattern"
Typically the first limit a robot sees is acceleration (stepper motor torque plus bed mass for example), followed by velocity (extrusion slip). To minimize print time I would like to align the infill direction in the fastest accelerating orientation (X for cartesians, X or Y for coreXY). To keep this explanation simple I'll tend to focus on cartesian bots. If we align the infill path to X the hote

[2021-02-28 06:56] jellespijker commented on #9343
Thank you for filling in the issue report. Could you also add the project file.

[2021-02-28 14:49] mbourque opened #9347 "If I leave the session open for a while, I lose the ability to select and orient models. I have to restart."
I am using latest Cura on Mac. If I leave the session open for a while, I lose the ability to select and orient models. I have to restart.

**Application version**
4.8.0

**Platform**
OSX Big Sur

**Printer**
Creality CR-6 SE

**Reproduction steps**
1. Load part on try
2. Leave the session open for a while (more than 3 hours)

**Actual results**
Lose the ability to select and orient models with th

[2021-02-28 14:58] mbourque commented on #9347
I left a comment about this problem on Facebook and multiple people on Mac are having same issue. Must be a bug.

[2021-02-28 15:00] bleker3d commented on #6513
Hi,

I have this issue again. I can not select the ooze retract distance or speed ? There are a lot of my settings blocked - "This setting has been hidden by the active machine and will not be visible"

On the first install of Cura 4.8 I selected my printer a Tronxy x5sa Pro and it did not have the settings active. I uninstalled Cura completely and reinstalled selecting custom machine, same proble

[2021-02-28 15:02] mbourque commented on #9347
Seems to duplicate of this issue: https://github.com/Ultimaker/Cura/issues/8745

I am closing for now.

[2021-02-28 15:02] #9347 closed

[2021-02-28 15:06] mbourque commented on #8745
+1 I have this problem too. Awaiting a fix.

[2021-02-28 17:36] rafaljot commented on #9336
Everything works on Apple M1 except layer preview.
Fortunately it works with "Force layer view compatibility mode" but old-fashioned.

[2021-02-28 17:49] rafaljot commented on #9336
Now it woks. I can't reproduce this issue. Last think a made was turn on, restart, turn off "Force layer view compatibility mode" , restart.

[2021-02-28 19:32] RafaeleValanten opened #9348 "Extra prime after combing"
**Is your feature request related to a problem? Please describe.**
Underextrusion after combing.
 So i use to print big lithophanes. Combing is a must here cz i save a few hours with it while filing gaps between walls without retractions. (Optimize wall printing order is on)
Underextrusion appears on a start of the new layer.
 Settings   :
- Combing (Distance 40 mm)
- Fill gaps between walls
- Opt

[2021-02-28 20:20] Julius971 commented on #4955
Id like to have such s feature as well. I am having issues with bridging caused by acceleration and deceleration. The printer wont utilize the low printing speed set by the experimental bridging setting, due to acceleration values.
I am missing a feature to slow down the printhead to reach the briding speed as soon as the bridge starts.

[2021-02-28 20:26] RafaeleValanten commented on #9343
may i ask what else should i paste? the status sais that "needs info"

[2021-02-28 20:27] smartavionics commented on #4955
My Cura variant which you can find at https://github.com/smartavionics/Cura/releases provides settings to control bridge acceleration and jerk for bridge walls and skins.

[2021-02-28 22:25] charj opened #9349 "4.8.0 unable to drag and drop stl files"
**Application version**
4.8.0 Windows 10

**Platform**
Windows 10 / i7 8700k / RTX 3080

**Printer**
Ender 3 Pro - though not relevent here

**Reproduction steps**
1. Download a stl file (tried many)
2. Open cura
3. Drag file into cura

**Actual results**
Dragging files into cura has no result

**Expected results**
I expect files to be added to the build area upon drag

[2021-03-01 01:25] GregValiant commented on #8574
Without Zhops in the file and making every possible change for the "current layer only" I get this:
;[CAZD:
M140 S90.0
M104 S100.0 T0
M104 S110.0 T1
M106 S76
M221 S80
M221 S83 T0
M221 S85 T1
M220 S60
;PRINTSPEED 70
;RETRACTFEEDRATE 2700.0
;RETRACTLENGTH 6.0
;:CAZD]
The recovery area at the end of that layer is this:
;[CAZD:
M104 S210.0 T0
M104 S210.0 T1
M220 S100
;RETRACTLENGTH -0.0
;:CAZD]

The r

[2021-03-01 08:57] fvrmr commented on #9349
Hi @charj could you please add your log file and maybe a screenshot or video, so I can see what exactly is happening.
You can find your log file here: `C:\Users\\<your username>\AppData\Roaming\cura\<Cura version>\cura.log`

[2021-03-01 09:48] #9274 closed

[2021-03-01 10:09] ManyBaby commented on #9336
@rafaljot Thank you it works for me too now
@jellespijker I close the issue
Thanks to all the team behind this wonderful software

[2021-03-01 10:09] #9336 closed

[2021-03-01 10:13] jellespijker commented on #9343
My apology, I overlooked the project file. I think this should be enough information for us to investigate further.

FYI @fvrmr

[2021-03-01 10:50] Ghostkeeper commented on #9261
I don't think the motors are really going to be the problem on average, but the build plate definitely is. Heating the build plate to 60 degrees for PLA vs. 80 degrees for ABS is a huge (~50%) difference in power draw of the build plate. And the build plate, at least for Ultimaker printers, is the majority of the power draw of the entire system.

As for updates from the Cura team on this issue. Th

[2021-03-01 10:50] fvrmr commented on #9348
Hi @RafaeleValanten thank you for your feature request.
I will discuss this with the team. Keep you posted!

[2021-03-01 11:11] fvrmr commented on #9338
Hi @loggyboy thank you for your feature request. Could you provide us more information, why is this better and what will affect this and a project file, so I can take a closer look.

[2021-03-01 11:13] Ghostkeeper commented on #8912
It's a Python expression (documented [here](https://github.com/Ultimaker/Cura/blob/master/docs/profiles/getting_a_setting_value.md#evaluating-a-value-property)), so the reference would be [here](https://docs.python.org/3/reference/simple_stmts.html#expression-statements) but nobody actually reads that. Unfortunately, the ternary operator in Python is as confusing as a dead Vulcan on Mars.

My best

[2021-03-01 11:15] fvrmr commented on #9342
Hi @jornada812 thank you. I am not familiar with Anycubic printers. When I add a Anycubic printer in Cura the nozzle size is 0.4 mm. We don't maintain the config files for these printers, so if it needs to be changed by a pull request.

Please let me know if this is the case, if not could you provide me your config file and more information.
Thank you in advance.

[2021-03-01 11:20] jornada812 commented on #9342
I didn't understand your answer. In any printer, the user can change the
nozzle. Put 0.3, 0.6 or any other value. The interface does not allow you
to remember the new nozzle in any printer model, even branded, even custom.
I suggest you fix it or describe the algorithm, as I can do it in the
interface. This error moves from version to version. Sometimes they write
that it was fixed, but it comes b

[2021-03-01 11:23] Ghostkeeper commented on #8983
Sorry, I was assuming that by a "cobweb" you meant random lines through the layer. The random lines would definitely (almost by definition) be more irregular than a pattern and would provide fewer guarantees as to the distance between supported points.

If you didn't mean random lines, then it must be a pattern of some kind. Maybe you meant [radial infill](https://github.com/Ultimaker/Cura/issues/

[2021-03-01 11:25] fieldOfView commented on #9342
Try entering the value with a comma instead of a dot.
This has been fixed for Cura 4.9

[2021-03-01 11:29] Ghostkeeper commented on #9218
The Union Overlapping Volumes is somewhat unrelated. It applies to the fill rule of a single model that overlaps itself. See the article in the Settings Guide about it: https://github.com/Ghostkeeper/SettingsGuide/blob/master/resources/articles/meshfix/meshfix_union_all.md

[2021-03-01 11:30] jornada812 commented on #9342
It works. thank

[2021-03-01 11:30] #9342 closed

[2021-03-01 11:33] Ghostkeeper commented on #9218
Disabling the "Alternate Mesh Removal" setting causes Cura to behave like what PrusaSlicer does by default. Cura weaves them together by default for extra strength, but this then causes extra printing time.

Cura can also completely ignore the overlap and produce your "whoops" case by disabling the "Remove Mesh Intersection" setting.

[2021-03-01 12:40] RFBomb commented on #9218
Ok, so all that is working as expected then. Thanks for the explanations. The top/bottom layer intersection I still think could be looked at and put onto a toggle like these other settings, but as its not very critical (most if not all of the time it will be hidden), and its there for adhesion purposes between the two objects, then Its really a non-critical fix I think. It'd be nice to have the op

[2021-03-01 12:56] fvrmr commented on #9343
Thank you @RafaeleValanten, is this behaviour failing your print?
I am able to reproduce this, so I will discuss this with the team. Keep you posted.

[2021-03-01 13:02] Ghostkeeper commented on #9302
Yeah, this is expected behaviour. Indeed I'm getting the same as Fvrmr: It worked the same as in version 4.7.1. In 4.7 I'm also seeing the material update when viewed from Ender 3 after updating it while the Geeetech printer was active.

The expected behaviour is that if there is a specialised sub-category in the material profile, editing the print settings in the GUI will edit the sub-category. I

[2021-03-01 13:02] #9302 closed

[2021-03-01 13:06] fvrmr commented on #9345
Hi @bradsoto thank you for your feature request.
Could you provide us a drawing of how this should work, so we can visualize your request.

[2021-03-01 13:16] Ghostkeeper commented on #5106
For clarity, the proposed workaround was to edit `.def.json` files, not necessarily `fdmprinter`.

In the printer definition files (extension `.def.json`), the `"value"` property of a setting can be an arbitrary Python expression, allowing you to make calculations. For the start g-code, the result needs to be a string. So to construct a string of start g-code with calculations inside, you can do s

[2021-03-01 13:19] charj commented on #9349
Please see video here:
https://www.youtube.com/watch?v=V832fzho7c0&feature=youtu.be

[2021-03-01 13:20] Ghostkeeper commented on #8938
The original that this ticket is a duplicate of is still in our backlog, meaning that Ultimaker has plans to eventually build it and a priority set for it. The priority for it isn't particularly high (some 200 tickets before it) so I wouldn't expect it at least for a year.

[2021-03-01 13:20] ldiegos commented on #9302
Temperatures on A10m and ender3 are not the same for the same material, neither the retractions, so... i don't want to remember each time that i change the printer which temperature, retractions and all the stuff, that has each material.

And for sure not to create a new material profile for each printer, when i see in the xml file that you have a section for each printer, despite your explanation

[2021-03-01 13:22] fvrmr commented on #9344
Hi @CCS86 thank you for your bug report.
Did you try to enable to the surface mode? If that doesn't work for you, could you please share a project file (file - save project) then I can try to reproduce your problem.

[2021-03-01 13:31] charj commented on #9349
Here's my log

`2021-03-01 13:21:00,352 - DEBUG - [MainThread] CuraEngineBackend.CuraEngineBackend._onSlicingFinishedMessage [710]: Slicing took 1.3041636943817139 seconds
2021-03-01 13:21:00,352 - DEBUG - [MainThread] CuraEngineBackend.CuraEngineBackend._onSlicingFinishedMessage [711]: Number of models per buildplate: {0: 1}
2021-03-01 13:21:00,352 - DEBUG - [MainThread] CuraEngineBackend.CuraEng

[2021-03-01 13:47] Ghostkeeper commented on #9308
The rationale behind that is that some models are so big when initially loaded that they will disappear from view if we move them up to align with the build plate, causing the user to think that loading somehow failed. Big models are partially outside of the build plate, so that was seen as the threshold for it. Perhaps a better trigger could be conceived.

[2021-03-01 13:59] fvrmr commented on #9339
Hi @CCS86 could you share your project file?
So I can see what is happening. Cause I can't see it with your file, because the settings are missing.

[2021-03-01 14:51] RafaeleValanten commented on #9343
Actually not.. It is only makes blobs on the outer wall in places where this supports line approaching the outer wall , cz i set till 5 mm no retraction.

[2021-03-01 15:49] echan42 opened #9350 "Make Overhangs Printable not being affected by cutting mesh."
**Application version**
4.8.0

**Platform**
Windows 7 x64

**Printer**
Ender 3

**Reproduction steps**
I'm having trouble using "make overhang printable" on specific parts of my model.
I do the following:

1.     Load model, tick "make overhang printable".

2.     Add cutting mesh to part I don't want "make overhang printable" to be applied, un-tick "make overhang printable" on the      cutting me

[2021-03-01 16:35] CCS86 commented on #9339
It's at the bottom of the original post.

[2021-03-01 16:36] CCS86 commented on #9344
I have not tried surface mode, but the project is at the bottom of the original post.

[2021-03-01 16:49] fvrmr commented on #9339
Yeah, I downloaded that file. But it was just a 3mf file, because dragging it into Cura this didn't pop up and it should do that with a project file.
![Screenshot (96)](https://user-images.githubusercontent.com/77000924/109529394-fac7cf00-7ab5-11eb-98f1-07d3a7434707.png)

Actual result:
![Screenshot (98)](https://user-images.githubusercontent.com/77000924/109529758-509c7700-7ab6-11eb-8e52-a14ee2c4

[2021-03-01 16:50] fvrmr commented on #9344
Hi @CCS86 can you let me know if that works for you. If not share a project file, because that file is also just a 3mf file.

[2021-03-01 17:10] fvrmr commented on #9350
Hi @echan42 thank you for your report.
I will discuss this with the team. Keep you posted!

[2021-03-01 18:33] bradsoto commented on #9345
![parabolic](https://user-images.githubusercontent.com/1541011/109541573-3300ea80-7a81-11eb-9da7-b0f60323f510.png)

At first it looks like there is an issue with overlaps and gaps for top/bottom walls, but if we keep the extrusion rate the same throughout it should even out. Where there are overlaps the hotend will be moving faster, and where there are gaps the hotend is moving slower. In this dra

[2021-03-01 18:44] CCS86 commented on #9344
Sorry about that. I must have chosen export. See if this works:

[UMO_Circle2.3mf.txt](https://github.com/Ultimaker/Cura/files/6063762/UMO_Circle2.3mf.txt)

[2021-03-01 18:47] CCS86 commented on #9339
[Coast-bug2.3mf.txt](https://github.com/Ultimaker/Cura/files/6063792/Coast-bug2.3mf.txt)

[2021-03-01 18:52] CCS86 commented on #9348
I would add that basing the amount of extra prime on "max volume lost" and "combing time" factors would give better control, compared to a fixed prime volume.

I would guess that the oozed volumetric flow curve probably looks like exponential decay, where ooze flow starts high and reduces quickly.

Whether the comb move is over the new layer, or the last layer probably plays a big part too. And wh

[2021-03-01 19:08] RafaeleValanten commented on #9348
that's a great idea!

[2021-03-01 19:55] bradsoto opened #9351 "Coordinate Walls with Infill"
Another feature request to reduce print time. "Coordinate Walls with Infill" should do these things:

### Alternate Between Inner and Outer Walls
An inner wall first layer is followed by an outer wall first layer. The end of the inner wall first layer is the beginning of the outer wall first layer. We always do 2 wall layers consecutively.

### Coordinate Double Wall Layers with Double Infill Laye

[2021-03-01 20:23] VladekRo opened #9352 "1. to be able to move filament in extruder"
**Is your feature request related to a problem? Please describe.**
(A clear and concise description of what the problem is. Ex. I'm always frustrated when [...])

**Describe the solution you'd like**
(A clear and concise description of what you want to happen. If possible, describe why you think this is a good solution.)

**Describe alternatives you've considered**
(A clear and concise description